.account_table, .system-data-table, .system-data-table-tb, .system-data-table-fr{
    font-size: 13px;
    line-height: 20px;
}
.o_closed_menu:before {
    display: none;
}
.py-search-buttons {
    color: #666666;
}
.show > .dropdown-toggle.btn-light {
    color: #666666;
}
.profit_loss{
.account_table tr.afalse td{
    border-bottom-style: double;
    padding-top: 30px;
}
.account_table tr:hover {
    /* color: #666666; */
    background-color: rgba(0, 0, 0, 0.04);
}
.py-mline[aria-expanded="true"]{
.fa-caret-right:before {
    content: "\f0d7";
}
}
.py-mline.collapsed{
    i.fa-caret-down:before {
        content: "\f0da";
    }
}
}

.system-data-table{
.py-mline[aria-expanded="true"]{
.fa-caret-right:before {
    content: "\f0d7";
}
}
}

.system-data-table{
    .general_data th, .partner_data th, .aged_data th{
        width: 5%;
    }
 .partner_ledger_tr_:hover, .aged_ledger_tr_:hover, .tax_tr_:hover{
        background-color: #f5f5f5;
  }

}

.trial_balance{
 tr th, tr td{
    padding: 5px !important;
 }
 .trial_balance_tr_:hover{
        background-color: #f5f5f5;
  }
}
.system-data-table-fr{
 th:not(:first-child) {
    border: 1px solid #e6e6e6;
    border-collapse: separate;
    padding-right: 8px;
    padding-left: 8px;
}
}

.system-data-table-fr .py-mlinesub {
    border-bottom: 1px solid #eee;
}

.trial_balance.system-data-table-fr thead > tr .amt-head {
    text-align: center !important;
}
.trial_balance.system-data-table-fr .py-mline .amt {
    text-align: center !important;
}

.tax_report{
 th:not(:first-child) {
    border: 1px solid #e6e6e6;
    border-collapse: separate;
    padding-right: 8px;
    padding-left: 8px !important;
}
}
// .py-search-accounts{
//     .dropdown-menu{
//         position: absolute;
//         will-change: transform;
//         top: 0px;
//         left: 0px;
//         transform: translate3d(0px, 25px, 0px) !important;
//     }
// }

