/* Rubik */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(/openeducat_backend_theme/static/src/fonts/Rubik-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Rubik-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik-Light'), local('Rubik-Light'), url(/openeducat_backend_theme/static/src/fonts/Rubik-Light.ttf) format('woff2');
}

@font-face {
  font-family: 'Rubik-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik-Bold'), local('Rubik-Bold'), url(/openeducat_backend_theme/static/src/fonts/Rubik-Bold.ttf) format('woff2');
}

@font-face {
  font-family: 'Rubik-Italic';
  font-style: italic;
  font-weight: 400;
  src: local('Rubik-Italic'), local('Rubik-Italic'), url(/openeducat_backend_theme/static/src/fonts/Rubik-Italic.ttf) format('woff2');
}

@font-face {
  font-family: 'Rubik-Medium';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik-Medium'), local('Rubik-Medium'), url(/openeducat_backend_theme/static/src/fonts/Rubik-Medium.ttf) format('woff2');
}

@font-face {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik-Regular'), local('Rubik-Regular'), url(/openeducat_backend_theme/static/src/fonts/Rubik-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Rubik-Black';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik-Black'), local('Rubik-Black'), url(/openeducat_backend_theme/static/src/fonts/Rubik-Black.ttf) format('woff2');
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), local('Poppins-Regular'), url(/openeducat_backend_theme/static/src/fonts/poppins/Poppins-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins-Regular'), local('Poppins-Regular'), url(/openeducat_backend_theme/static/src/fonts/poppins/Poppins-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins-Bold'), local('Poppins-Bold'), url(/openeducat_backend_theme/static/src/fonts/poppins/Poppins-Bold.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins-Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins-Italic'), local('Poppins-Italic'), url(/openeducat_backend_theme/static/src/fonts/poppins/Poppins-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins-Light'), local('Poppins-Light'), url(/openeducat_backend_theme/static/src/fonts/poppins/Poppins-Light.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins-Medium'), local('Poppins-Medium'), url(/openeducat_backend_theme/static/src/fonts/poppins/Poppins-Medium.ttf) format('woff2');
}

/* Lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato-Regular'), url(/openeducat_backend_theme/static/src/fonts/lato/Lato-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Lato-Black';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Black'), local('Lato-Black'), url(/openeducat_backend_theme/static/src/fonts/lato/Lato-Black.ttf) format('woff2');
}
@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Bold'), local('Lato-Bold'), url(/openeducat_backend_theme/static/src/fonts/lato/Lato-Bold.ttf) format('woff2');
}
@font-face {
  font-family: 'Lato-Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Italic'), local('Lato-Italic'), url(/openeducat_backend_theme/static/src/fonts/lato/Lato-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Lato-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Regular'), local('Lato-Regular'), url(/openeducat_backend_theme/static/src/fonts/lato/Lato-Regular.ttf) format('woff2');
}

/* Merriweather */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(/openeducat_backend_theme/static/src/fonts/merriweather/Merriweather-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Merriweather-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather-Regular'), local('Merriweather-Regular'), url(/openeducat_backend_theme/static/src/fonts/merriweather/Merriweather-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Merriweather-Black';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather-Black'), local('Merriweather-Black'), url(/openeducat_backend_theme/static/src/fonts/merriweather/Merriweather-Black.ttf) format('woff2');
}
@font-face {
  font-family: 'Merriweather-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather-Bold'), local('Merriweather-Bold'), url(/openeducat_backend_theme/static/src/fonts/merriweather/Merriweather-Bold.ttf) format('woff2');
}
@font-face {
  font-family: 'Merriweather-Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather-Italic'), local('Merriweather-Italic'), url(/openeducat_backend_theme/static/src/fonts/merriweather/Merriweather-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Merriweather-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather-Light'), local('Merriweather-Light'), url(/openeducat_backend_theme/static/src/fonts/merriweather/Merriweather-Light.ttf) format('woff2');
}

/* montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat-Regular'), url(/openeducat_backend_theme/static/src/fonts/montserrat/Montserrat-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), local('Montserrat-Regular'), url(/openeducat_backend_theme/static/src/fonts/montserrat/Montserrat-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Black'), local('Montserrat-Black'), url(/openeducat_backend_theme/static/src/fonts/montserrat/Montserrat-Black.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Bold'), local('Montserrat-Bold'), url(/openeducat_backend_theme/static/src/fonts/montserrat/Montserrat-Bold.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat-Italic';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Italic'), local('Montserrat-Italic'), url(/openeducat_backend_theme/static/src/fonts/montserrat/Montserrat-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Light'), local('Montserrat-Light'), url(/openeducat_backend_theme/static/src/fonts/montserrat/Montserrat-Light.ttf) format('woff2');
}
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Medium'), local('Montserrat-Medium'), url(/openeducat_backend_theme/static/src/fonts/montserrat/Montserrat-Medium.ttf) format('woff2');
}

/* opensans */
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans'), local('OpenSans-Regular'), url(/openeducat_backend_theme/static/src/fonts/opensans/OpenSans-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Regular'), local('OpenSans-Regular'), url(/openeducat_backend_theme/static/src/fonts/opensans/OpenSans-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Bold'), local('OpenSans-Bold'), url(/openeducat_backend_theme/static/src/fonts/opensans/OpenSans-Bold.ttf) format('woff2');
}
@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Light'), local('OpenSans-Light'), url(/openeducat_backend_theme/static/src/fonts/opensans/OpenSans-Light.ttf) format('woff2');
}
@font-face {
  font-family: 'OpenSans-Italic';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Italic'), local('OpenSans-Italic'), url(/openeducat_backend_theme/static/src/fonts/opensans/OpenSans-Italic.ttf) format('woff2');
}

/* Playfair Display */
@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 400;
  src: local('PlayfairDisplay'), local('PlayfairDisplay-Regular'), url(/openeducat_backend_theme/static/src/fonts/playfairdisplay/PlayfairDisplay-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('PlayfairDisplay-Regular'), local('PlayfairDisplay-Regular'), url(/openeducat_backend_theme/static/src/fonts/playfairdisplay/PlayfairDisplay-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay-Black';
  font-style: normal;
  font-weight: 400;
  src: local('PlayfairDisplay-Black'), local('PlayfairDisplay-Black'), url(/openeducat_backend_theme/static/src/fonts/playfairdisplay/PlayfairDisplay-Black.ttf) format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('PlayfairDisplay-Bold'), local('PlayfairDisplay-Bold'), url(/openeducat_backend_theme/static/src/fonts/playfairdisplay/PlayfairDisplay-Bold.ttf) format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  font-style: normal;
  font-weight: 400;
  src: local('PlayfairDisplay-Italic'), local('PlayfairDisplay-Italic'), url(/openeducat_backend_theme/static/src/fonts/playfairdisplay/PlayfairDisplay-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay-Medium';
  font-style: normal;
  font-weight: 400;
  src: local('PlayfairDisplay-Medium'), local('PlayfairDisplay-Medium'), url(/openeducat_backend_theme/static/src/fonts/playfairdisplay/PlayfairDisplay-Medium.ttf) format('woff2');
}