/* Copyright 2018 Tecnativa - Jairo Llopis
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

$chatter_zone_width: 35%;

@mixin full-screen-dropdown {
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$o-navbar-height});
    position: fixed;
    margin: 0;
    width: 100vw;
    z-index: 100;
    // Inline style will override our `top`, so we need !important here
    top: $o-navbar-height !important;
    transform: none !important;
}

// Support for long titles
@include media-breakpoint-up(md) {

    // .o_form_view .oe_button_box+.oe_title,
    // .o_form_view .oe_button_box+.oe_avatar+.oe_title {
    //     /* Button-box has a hardcoded width of 132px per button and have three columns */
    //     width: calc(100% - 450px);
    // }
}

// Main navbar (with apps menu, user menu, debug menu...)
@include media-breakpoint-down(sm) {
    .o_main_navbar {
        // This allows to have a sane layout for mobiles
        display: flex;

        // Remove clutter to only have small icons that fit in a small screen
        >.dropdown {
            display: flex;

            .navbar-toggler {
                color: map-get($grays, 'white');
            }

            .o_menu_sections,
            .o_menu_systray {
                padding: 0;
            }
        }

        // Whitespace before systray icons
        .o_menu_systray {
            margin-left: auto;
        }

        // Hide big things
        .o_menu_brand,
        .o_menu_sections,
        .oe_topbar_name {
            display: none;
        }

        // Fix toggler button padding
        .o-menu-toggle {
            cursor: pointer;
            padding: 0 $o-horizontal-padding;
        }

        // Custom fullscreen layout when showing submenus
        .o_menu_sections.show {
            @include full-screen-dropdown();
            background-color: $dropdown-bg;

            .show {
                display: flex;
                flex-direction: column;

                .dropdown-menu {
                    margin-left: 1rem;
                    min-width: auto;
                    width: calc(100vw - 2rem);
                }
            }

            >li,
            .o_menu_entry_lvl_1,
            .o_menu_header_lvl_1 {
                // Homogeneous background color
                background-color: $dropdown-bg;
                color: $dropdown-link-color;

                &:hover {
                    background-color: $dropdown-link-hover-bg;
                    color: $dropdown-link-hover-color;
                }

                // Disable the .o-no-caret class effect, to display the caret
                &.o-no-caret::after {
                    content: "";
                }

                // Fix a strange glitch leaving headers invisible
                .dropdown-header {
                    color: $dropdown-header-color;
                }
            }
        }

        // Custom fullscreen layout for systray items
        .o_mail_systray_dropdown.show {
            @include full-screen-dropdown();

            // Fix stretchy images
            .o_mail_preview_image {
                align-items: center;
                display: flex;
                flex-direction: row;

                img {
                    display: block;
                    height: auto;
                }
            }
        }

        // Higher height for dropdown items, for those with sausage fingers
        .dropdown-menu .dropdown-item {
            padding: {
                bottom: 0.5rem;
                top: 0.5rem;
            }
        }
    }
}

.o_main_navbar {
    color: color-yiq($o-brand-odoo);

    >ul>li>a,
    >ul>li>label {
        color: color-yiq($o-brand-odoo);
    }

    .dropdown-menu.show {
        max-height: calc(100vh - #{$o-navbar-height});
    }
}

// Iconized full screen apps menu
.o_menu_apps {
    user-select: none;

    a.full {
        //         width: $o-navbar-height;
        text-align: center;
    }

    .dropdown-menu.show {
        opacity: 1;
        visibility: visible;
    }

    .dropdown-menu {
        @include full-screen-dropdown();

        opacity: 0;
        visibility: hidden;
        transition: visibility 100ms ease, opacity 100ms ease;
        background: url("../img/home-menu-bg-overlay.svg"),
            linear-gradient(to bottom,
                $o-brand-odoo,
                desaturate(lighten($o-brand-odoo, 20%), 15));
        background-size: cover;
        border-radius: 0;
        // Display apps in a grid
        align-content: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        @include media-breakpoint-up(lg) {
            padding: {
                left: calc((100vw - 850px) / 2);
                right: calc((100vw - 850px) / 2);
            }
        }

        .o_app {
            align-items: center;
            display: flex;
            padding: 10px 0;
            border-radius: 4px;
            flex-direction: column;
            justify-content: flex-start;
            background: none;
            transition: 300ms ease;
            transition-property: background-color;

            img {
                box-shadow: none;
                transition: 300ms ease;
                transition-property: box-shadow, transform;
            }

            &:focus {
//                 background-color: rgba(map-get($grays, 'white'), 0.05);
            }

            // Size depends on screen
            width: 33.33333333%;

            @include media-breakpoint-up(sm) {
                width: 25%;
            }

            @include media-breakpoint-up(md) {
                width: 16.6666666%;
            }
        }

        .o_app:hover img {
            transform: translateY(-3px);
//             box-shadow: 0 9px 12px -4px rgba(map-get($grays, 'black'), 0.3);
        }

        // Hide app icons when searching
        .has-results~.o_app {
            display: none;
        }

        .o-app-icon {
            height: auto;
            max-width: 6rem;
        }

        .o-app-name {
            color: map-get($grays, 'white');
            margin-top: 4px;
            font-size: 1.25rem;
//             text-shadow: 1px 1px 1px rgba(map-get($grays, 'black'), 0.4);
        }

        // Search input for menus
        .form-row {
            width: 100%;
        }

        .o-menu-search-result {
            align-items: center;
            background-position: left;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            padding-left: 3rem;
            white-space: normal;
        }

        .search-container {
            padding-top: 1rem;
            padding-bottom: 1.5rem;

            .search-input {
                margin-bottom: 0 !important;
                padding: 0;

                .input-group {
//                     box-shadow: inset 0 1px 0 rgba(map-get($grays, 'white'), 0.1),
//                         0 1px 0 rgba(map-get($grays, 'black'), 0.1);
//                     text-shadow: 0 1px 0 rgba(map-get($grays, 'black'), 0.5);
                    border-radius: 4px;
                    padding: 0.4rem 0.8rem;
//                     background-color: rgba(map-get($grays, 'white'), 0.1);

                    @include media-breakpoint-up(md) {
                        padding: 0.8rem 1.2rem;
                    }

                    .input-group-prepend {
                        span.fa {
                            color: map-get($grays, 'white');
                            font-size: 1.5rem;
                            margin-right: 1rem;
                            padding-top: 1px;
                        }
                    }

                    .form-control {
                        height: 2rem;
                        background: none;
                        border: none;
                        color: map-get($grays, 'white');
                        display: block;
                        padding: 1px 2px 2px 2px;
                        box-shadow: none;

                        &::placeholder {
                            color: map-get($grays, 'white');
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        // Allow to scroll only on results, keeping static search box above
        .search-container.has-results {
            height: 100%;

            .search-results {
                max-height: calc(100vh - 47px - 6em);
                overflow-y: hidden;
                overflow-x: scroll;
                overflow: auto;
                background: url("../img/home-menu-bg-overlay.svg"),
                    linear-gradient(to bottom, map-get($grays, '200'), map-get($grays, 'white'));
                background-position: center;
                background-size: cover;
            }
        }
    }
}

.search-results {
    max-height: calc(100vh - 47px - 6em);
    width: 100%;
    max-width: 850px;
    height: 400px;
    background-position: center;
    background-size: cover;

    .dropdown-item.active {
        color: #dee2e6;
        text-decoration: none;
        background-color: #212529;
    }
}

// Scroll all but top bar
html .o_web_client .o_action_manager .o_action {
    @include media-breakpoint-down(sm) {
        overflow: auto;

        .o_content {
            overflow: auto;
        }
    }

    max-width: 100%;
}

// Control panel (breadcrumbs, search box, buttons...)
@include media-breakpoint-down(sm) {

    .o_menu_systray .o_debug_manager a {
        padding: 0 8px;
    }

    .o_control_panel {
        // Arrange buttons to use space better
        padding-left: 8px;

        .breadcrumb,
        .o_cp_buttons,
        .o_cp_left,
        .o_cp_right,
        .o_cp_searchview {
            flex: 1 1 100%;

            @include media-breakpoint-up(md) {
                flex-basis: 50%;
            }
        }

        .o_cp_top {
            align-items: center !important;
        }

        .o_cp_top_left,
        .o_cp_top_right {
            flex: 1 1 100%;
        }

        .o_cp_top_left {
            flex-basis: 80%;
            max-width: unset !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .o_cp_top_right {
            flex-basis: 20%;
            min-width: unset !important;
        }

        .o_cp_searchview,
        .o_cp_right {
            flex-basis: 10%;
        }

        .o_cp_left {
            flex-basis: 50%;
            white-space: nowrap;
        }

        .o_cp_pager {
            white-space: nowrap;
        }

        // Hide all but 2 last breadcrumbs, and render 2nd-to-last as arrow
        .breadcrumb-item {
            &:not(.active) {
                padding-left: 0;
            }

            &::before {
                content: none;
                padding-right: 0;
            }

            &:nth-last-of-type(1n + 3) {
                display: none;
            }

            &:nth-last-of-type(2) {
                &::before {
                    color: #263544;
                    content: "\f053"; // .fa-step-backward
                    cursor: pointer;
                    font-family: FontAwesome;
                    margin-right: 5px;
                }

                a {
                    display: none;
                }
            }
        }

        // Ellipsize long breadcrumbs
        .breadcrumb {
            max-width: 100%;
            text-overflow: ellipsis;
        }

        // Empty sidebar should not break layout
        .o_cp_sidebar:blank {
            display: none;
        }

        // In case you install `mail`, there is a mess on BS vs inline styles
        // we need to fix
        .o_cp_buttons .btn.d-block:not(.d-none) {
            display: inline-block !important;
        }

        .o_searchview {
            padding: 1px 0px 3px 0px;

            &.o_searchview_mobile {
                cursor: pointer;
            }

            &.o_searchview_quick {
                display: flex;
                flex: 1 1 auto;
                align-items: center;

                .o_searchview_input_container {
                    flex: 1 1 auto;
                }
            }
        }

        // Dropdown with buttons to switch the view type
        .o_cp_switch_buttons.show {
            .dropdown-menu {
                align-content: center;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 0;
                //                overflow: unset;

                .btn {
                    border: {
                        bottom: 0;
                        radius: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}

// Normal views
.o_content,
.modal-content {
    max-width: 100%;

    // Form views
    .o_form_view {
        .o_form_sheet {
            // max-width: calc(100% - 32px);
            overflow-x: auto;
            //background-color: #f9f9f9;
        }

        .o_FormRenderer_chatterContainer {
            padding-top: 0;
        }

        .o_chatter_topbar {
            height: auto;
            flex-wrap: wrap-reverse;
        }

        // Sticky statusbar
        .o_form_statusbar {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        @include media-breakpoint-down(sm) {
            min-width: auto;

            // More buttons border
            .oe_button_box {
                .o_dropdown_more {
                    button:last-child {
                        border-right: 1px solid map-get($grays, '400');
                    }
                }
            }

            // Avoid overflow on forms with title and/or button box
            .oe_title {
                max-width: 100%;
            }

            .oe_button_box+.oe_title,
            .oe_button_box+.oe_avatar+.oe_title {
                width: 100%;
            }

            // Avoid overflow on modals
            .o_form_sheet {
                min-width: auto;
            }

            // Render website inputs properly in phones
            .o_group .o_field_widget.o_text_overflow {
                // Overrides another !important
                width: auto !important;
            }

            // Make all input groups vertical
            .o_group_col_6 {
                width: 100%;
            }

            // Statusbar buttons dropdown for mobiles
            .o_statusbar_buttons_dropdown {
                border: {
                    bottom: 0;
                    radius: 0;
                    top: 0;
                }

                height: 100%;
            }

            .o_statusbar_buttons>.btn {
                border-radius: 0;
                border: 0;
                width: 100%;
                margin-bottom: 0.2rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .o_statusbar_status {

                // Arrow from rightmost button exceeds allowed width
                .o_arrow_button:first-child::before {
                    content: none;
                    display: none;
                }
            }

            // Full width in form sheets
            .o_form_sheet,
            .o_FormRenderer_chatterContainer {
                min-width: auto;
                max-width: 100%;
            }

            // Settings pages
            .app_settings_block {
                .row {
                    margin: 0;
                }
            }

            .o_FormRenderer_chatterContainer {
                padding-top: initial;

                // Display send button on small screens
                .o_thread_composer {
                    padding-left: $o-mail-thread-avatar-size * 0.5;

                    .o_composer_button_send {
                        display: initial !important; // Forced in core
                    }

                    .o_chatter_avatar {
                        display: none;
                    }
                }

                .o_chatter_topbar {
                    >.o_topbar_right_area {
                        flex: 1 0 auto;
                        flex-wrap: wrap;
                        max-width: 100%;

                        // Display followers on small screens
                        .o_followers {
                            display: initial !important; // Forced in core

                            @include media-breakpoint-down(xs) {
                                padding-bottom: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Bottom chatter, if user wants

.o_chatter_position_bottom{
    .o_form_view.o_xxl_form_view {
        flex-flow: column nowrap !important;
        overflow: auto !important;

        .o_form_view_container, .o_FormRenderer_chatterContainer{
            width: 100%;
        }
        .o_FormRenderer_chatterContainer.o-aside{
            border-left: 0;
        }
        .o_attachment_preview > .o_attachment_preview_container > .o_attachment_preview_img{
            position: inherit !important;
        }
    }
}

.o_ChatterContainer .o_ChatterTopbar_tools, .o_ChatterContainer .o_ChatterTopbar_tools .o_ChatterTopbar_button + div{
    border-left: 0 !important;
    border-bottom: 0 !important;
}

.o_ChatterTopbar_followButton .o_FollowButton_follow{
    padding-right: 0.75rem !important;
}

.o_form_view.o_xxl_form_view {
    .o_form_view_container .o_cp_pager .o_pager{
        margin-right: 8px;
    }
}


// Waiting Cursor
.oe_wait {
    cursor: progress;
}

// Document Viewer
// .o_web_client.o_chatter_position_sided {
//     .o_modal_fullscreen.o_document_viewer {
//         // On-top of navbar
//         z-index: 10;
//
//         &.o_responsive_document_viewer {
//
//             /* Show sided viewer on large screens */
//             @include media-breakpoint-up(lg) {
//                 width: $chatter_zone_width;
//                 margin-left: auto;
//                 right: 0;
//
//                 /* Show/Hide control buttons (next, prev, etc..) */
//                 &:hover .arrow,
//                 &:hover .o_viewer_toolbar {
//                     display: flex;
//                 }
//
//                 .arrow,
//                 .o_viewer_toolbar {
//                     display: none;
//                 }
//
//                 .o_viewer_img_wrapper {
//                     position: relative;
//
//                     .o_viewer_pdf {
//                         width: 95%;
//                     }
//                 }
//             }
//
//             .o_minimize_btn {
//                 display: none;
//             }
//         }
//
//         &:not(.o_responsive_document_viewer) {
//             .o_maximize_btn {
//                 display: none;
//             }
//         }
//
//         @include media-breakpoint-down(lg) {
//
//             .o_minimize_btn,
//             .o_maximize_btn {
//                 display: none;
//             }
//         }
//     }
// }

/* Max/Min buttons only are usefull in sided mode */
.o_web_client:not(.o_chatter_position_sided) {

    .o_minimize_btn,
    .o_maximize_btn {
        display: none;
    }
}

// Apply improvements for Document Viewer on all modes
.o_modal_fullscreen .o_viewer_content {
    .o_viewer-header {
        .o_image_caption {
            display: contents;
        }

        // Now uses a container to have more buttons
        .o_buttons {
            min-width: 35px;
            text-align: right;

            // Now close button ('X') it's a fa-icon
            >.o_close_btn {
                top: unset;
                left: unset;
                bottom: unset;
                right: unset;
                font-size: unset;
                font-weight: unset;
            }
        }
    }
}

.o_statusbar_buttons>button {
    min-height: 30px !important;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .o_control_panel .o_cp_bottom .o_cp_bottom_right {
        width: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .o_base_settings .o_setting_container {
        display: block;
    }

    .o_control_panel .o_cp_top {
        width: 100%;
        // padding: 4px 10px;
        color: #333;
    }

    .o_control_panel .o_cp_top_right .o_searchview {
        border: 0px;
    }

    .o_searchview .o_searchview_input_container {
        border-bottom: 1px solid #ddd;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .o_control_panel .o_cp_switch_buttons.show .dropdown-menu {
        /* align-content: center; */
        /* display: -webkit-box; */
        /* display: -webkit-flex; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }
    

    .o_form_view .o_notebook .o_notebook_headers .nav.nav-tabs {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    .o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item {
        white-space: nowrap;
    }

    .o_form_view .o_notebook .o_notebook_headers {
        overflow-x: auto;
    }

    .o_form_view .o_notebook>.o_notebook_headers {
        margin-left: -16px;
        margin-right: -16px;
    }

    .o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs {
        padding-left: 16px;
        border-bottom-color: #C9CCD2;
    }

    .o_button_more {
        justify-content: center;
    }

    .o_form_view .o_form_sheet_bg .oe_button_box .oe_stat_button {
        width: 20% !important;
    }

    .o_form_view .o_form_sheet_bg>.o_form_sheet .oe_button_box {
        flex: 0 0 100%;
        max-width: 100%;
        order: -1;
    }

    .o_form_view .oe_button_box>.o_dropdown_more>.btn.oe_stat_button {
        width: 100% !important;
        max-width: 100%;
    }

    .o_form_view .oe_button_box .btn.oe_stat_button.o_button_more[aria-expanded="true"]:after {
        border-bottom: 4px solid #424242 !important;
        border-top: 0px !important;
    }

    .o_form_view .oe_button_box .btn.oe_stat_button.o_button_more:after {
        border-top: 4px solid #424242 !important;
        border-bottom: 0px !important;
    }

    #apps_menu .search_home_hidden {
        opacity: 1;
    }
}


// @media (max-width:767px) ,screen and (device-width: 768px) {
@media (max-width:767px) {
    .o_form_view .oe_button_box > .o_dropdown_more {
        position: relative !important;
        transform: none !important;
        will-change: inherit !important;
        margin-bottom: 20px;
        width: 100%;
        border-width: 0px;
    }
    .o_form_view .o_form_sheet_bg .oe_button_box .oe_stat_button {
        flex: 12.5% !important;
//         max-width: 12.5% !important;

    }

    .o_mobile_search>.o_mobile_search_filter>.o_filter_menu>.o-dropdown>.o_dropdown_menu {
        top: 0px !important;
        left: 0px !important;
    }

    // .o_dropdown_menu,
    // .dropdown-menu {
    //     top: 0px !important;
    //     left:0px !important;
    // }
    .o_MessagingMenu_dropdownMenu,
    .o_mail_systray_dropdown {
        top: 46px !important;
    }

    .o_main_navbar .o_mail_systray_dropdown.show {
        z-index: 300 !important;
    }

    .o-dropdown {
        color: #4c4c4c;
        cursor: pointer;
        display: inline-block;
        user-select: none;
        white-space: nowrap;
        width: 100%;
    }

    .o_pivot_header_cell_closed {
        padding-left: 0px !important;

        .o-dropdown {
            width: 0;
        }
    }

    .dropdown-toggle {
        width: 100%;
        text-align: left;
    }

    .o_cp_bottom_right {
        position: absolute;
        right: 0;
        margin-right: 2px;
    }

    .o_cp_top_left,
    .o_cp_top_right {
        flex: 0;
    }

    .o_form_view .o_form_sheet_bg .oe_title h1 tr td {
        display: -webkit-inline-box;
        // width: auto;
    }

    .o_form_view .o_form_sheet_bg .oe_button_box {
        margin-left: 0px !important;
        flex: 100%;
        max-width: 100%;
        width: 100%;
    }

    .o_form_view .o_form_sheet_bg .o_field_image {
        // order: -1;
    }

    .oe_button_box {
        order: -2;
    }

    .oe_stat_button {
        border-right: 1px solid #dee2e6 !important;
        text-align: center !important;
    }

    .o_form_view .o_form_sheet_bg>.o_form_sheet .oe_button_box {
        width: auto;
        margin-bottom: 20px;
    }

    .o_form_sheet {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .course_info,
    table.o_inner_group {
        padding: 0 16px;
    }

    .o_button_more {
        justify-content: center;
    }

    .o_form_view .oe_button_box .btn.oe_stat_button.o_button_more:after {
        border-top: 4px solid #424242 !important;
        border-bottom: 0px !important;
    }

    .o_form_view .oe_button_box>.o_dropdown_more>.btn.oe_stat_button {
        border-width: 1px !important;
    }

    .dropdown-menu {
        min-width: 5rem;
        top: 0px !important;
        left: 0px !important;
        // transform: translate3d(-100px, 33px, 0px)!important;
        // left: 0p !important;

    }

    .dropdown-toggle {
        border: none !important;
        // font-size: 20px;
    }

    .dropdown-toggle>i {
        font-size: 20px;
    }

    .o_cp_switch_buttons>ul {
        left: auto !important;
        transform: translate3d(-0, 33px, 0px) !important;

    }

    .dropdown-toggle>ul {
        transform: translate3d(-0, 33px, 0px) !important;
    }

    .o_field_widget>.disabled {
        display: none;
    }

    .o_statusbar_status>button {
        font-size: 14px !important;
    }

    .bs-tooltip-left {
        display: none;
    }

    // .o_cp_action_menus>.dropdown>.dropdown-menu {
    //     margin: 41px 0 0;
    // }

    // .o_web_client .o_searchview.o_mobile_search > .o_mobile_search_content .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label {
    .o_mobile_search>.o_searchview_input_container>.o_searchview_facet>.o_searchview_facet_label {
        border-radius: 2em 0em 0em 2em;
    }

    .o_mobile_search>.o_searchview_input_container>.o_searchview_facet {
        border: none !important;
        background-color: transparent !important;
        // background-color: $brand-primary !important;
    }

    .o_mobile_search>.o_searchview_input_container>.o_searchview_facet>.o_facet_values {
        border: 1px solid $brand-primary;
    }

    .o_mobile_search>.o_searchview_input_container {
        border: none;
    }

    .o_mobile_search>.o_mobile_search_filter>.o_dropdown>.o-dropdown>.dropdown-toggle {
        text-align: center;
    }

    .oe_title {
        width: 100%;
    }

    .o_input>.o_input {
        border: none;
    }

    .o_cp_pager {
        order: 1;
    }

    .o_cp_action_menus {
        order: 0;
    }

    .o_form_view .o_form_sheet_bg .course_info {
        flex: 100 !important;
        max-width: 100% !important;
    }

    .o_form_view .o_form_sheet_bg>.o_form_sheet {
        margin: 0px auto !important;
    }

    .o_mobile_menu_NavBar>.o_mobile_search {
        top: 46px !important;
    }

    .o_mobile_menu_NavBar>.o_mobile_search>ul>.o_menu_sections>.o-dropdown--no-caret>button {
        color: #000 !important;
        width: 100% !important;
    }

    .o_mobile_menu_NavBar>.o_mobile_search>ul>.o_menu_sections>.o-dropdown--no-caret>button>i {
        display: block !important;
    }

    .o_mobile_menu_NavBar>.o_mobile_search>ul>.o_menu_sections>a {
        color: #000 !important;
        // width:100% !important;
    }

    .o_menu_sections {
        display: block !important;
    }

    .o-popper-position {
        position: relative;
    }

    .o_renderer_with_searchpanel {
        width: 100%;
    }

    // .o_mobile_search_header>.o_menu_sections>.o-dropdown--no-caret > .o-popper-position{
    .o_mobile_menu_NavBar>.o_mobile_search>ul>.o_menu_sections>.dropdown>.dropdown-menu {
        top: 0px !important;
        top: 0px !important;
        width: 100% !important;
    }


    .o_mobile_menu_NavBar_btn,
    .o_mobile_user_menu_btn {
        color: #e3e5e7;
        font-size: 17px;
        // margin-top: 5px;
    }

    .o_mobile_searchPanel_category {
        font-size: 17px;
    }

    #apps_menu .search_home_hidden {
        opacity: 1;
    }

    .search-container {
        margin-right: 10px;
    }

    .o_mobile_menu_NavBar>.o_mobile_search>ul>.o_menu_sections>.dropdown>.o-dropdown--menu {
        top: 0px !important;
        left: 0px !important;
    }

    // .o_user_menu>.o-dropdown--menu{
    //     top:116px !important;
    //     left:-20px !important;

    // }
    // .o_cp_action_menus>div>ul{
    //     margin:0;
    // }
    .o_cp_bottom_left>div>div>.o-dropdown--menu {
        position: absolute;
        left: inherit !important;
        top: 41px !important;
    }

    .o_user_menu>.o-popper-position {
        position: absolute;
        left: inherit !important;
        right: 0 !important;
        top: 46px !important;
    }

    .o_debug_manager>.o-dropdown--menu {
        position: absolute;
        left: inherit !important;
        top: 46px !important;
    }

    .o_settings_container .o_setting_box .o_setting_right_pane .o_field_widget {
        width: 100%;
    }

    .o_form_view .o_notebook .o_notebook_headers .nav.nav-tabs {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    .o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs>.nav-item {
        white-space: nowrap;
    }

    .o_form_view .o_notebook .o_notebook_headers {
        overflow-x: auto;
    }

    .o_form_view .o_notebook>.o_notebook_headers {
        margin-left: -16px;
        margin-right: -16px;
    }

    .o_form_view .o_notebook>.o_notebook_headers>.nav.nav-tabs {
        padding-left: 16px;
        border-bottom-color: #C9CCD2;
    }

    .nav-tabs {
        border-bottom: 1px solid transparent;
    }

    .o_form_view .nav-tabs>li.nav-item>a.active {
        //     border-top: none !important;
        //     box-shadow: inset 0px 1px #8b607d !important;
        //     color: #8b607d !important;
        border-left: 1px #424242 !important;
    }

    .o_form_view .nav-tabs>li.nav-item>a,
    .o_form_view .nav-tabs>li.nav-item>a:focus {
        border: none;
        // box-shadow: inset 1px 1px 1px 0px #424242 !important;
        color: #424242 !important;

    }

    .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #apps_menu{
        overflow: auto;
    }
    #apps_menu > .o_app_search_results{
        overflow: visible;
    }
    #apps_menu > .search_home_hidden{
        display: none;
    }

}
@media only screen and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .o_searchview .o_searchview_input_container {
        border-bottom: 1px solid #ddd;
    }
    .o_form_view .oe_button_box > .o_dropdown_more {
        transform: translate3d(0px, 55px, 0px) !important;
        left: auto !important;
    }
}

.o_web_client input:focus, .o_web_client textarea:focus, .o_web_client select:focus {
    outline: none;
    border-bottom: 2px solid #666666;
}


@media only screen and (min-width : 992px) {
    .o_form_view .o_form_sheet_bg .oe_button_box .oe_stat_button {
        flex: 12.5% !important;
        width: 12.5% !important;
    }
    .o_form_view .oe_button_box > .o_dropdown_more {
//     position: relative !important;
        transform: translate3d(87.2%, 55px, 0px) !important;
        will-change: inherit !important;
        margin-bottom: 20px;
        width: 100%;
    //     border-width: 0px;
    }
    .dropdown-menu.show {
        display: inline-grid;
    }
}


.o_form_view .o_form_sheet_bg>.o_form_sheet .oe_button_box {
    flex: 0 0 100%;
    max-width: 100%;
    order: -1;
}
.o_form_view .oe_button_box>.o_dropdown_more>.btn.oe_stat_button {
    border-width: 1px !important;
}

.o_button_more {
    justify-content: center;
}

.o_form_view .oe_button_box .btn.oe_stat_button.o_button_more[aria-expanded="true"]:after {
    border-bottom: 4px solid #424242 !important;
    border-top: 0px !important;
}

.o_form_view .oe_button_box .btn.oe_stat_button.o_button_more:after {
    border-top: 4px solid #424242 !important;
    border-bottom: 0px !important;
}
