$primary_theme: #424242 !default;
$o-brand-primary: #424242 !default;

.btn-secondary,.btn-secondary.disabled, .btn-secondary:disabled,.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{
    color: #4c4c4c;
    background-color: white;
    border-color: #cccccc;

    &:hover,&:focus{
        background:#f0f0f0;
        color: #4c4c4c;
        border-color: #cccccc;
    }
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus{
    box-shadow:none !important;
}



.o_cp_right > nav.btn-group.o_cp_switch_buttons > .active{
        color: #4c4c4c !important;
        background-color: #e6e6e6 !important;
        border-color: #adadad !important;
}





//-=------V15---------//

html .o_web_client > .o_action_manager > .o_action > .o_content{
       //background: white;
}

.btn-primary, .btn-primary:active, .o_searchview_facet_label {
  background-color: $brand-primary !important;
  color: $inverse_theme !important;
}
.o_search_panel_section_icon {
  color: $brand-primary !important;
}
.btn-secondary {
  border-radius: 0;
//   border: solid 1px $brand-primary !important;
//   color: $brand-primary !important;
}
.o_list_view .o_list_table thead {
    position: sticky;
    top: 0;
}

.breadcrumb-item > a, .o_menu_item > a {
  color: $brand-primary !important;
}

.fa-trash {
  color: #f46a6a !important;
}

.o_external_button {
  border: none !important;
}

.o_field_x2many_list_row_add > a {
//   color: $brand-primary !important;
    margin-left: 8px;
}




.o-no-caret > i, button[aria-pressed=true] {
  color: $f_color !important;
}

.o_menu_systray{
    .o-no-caret > i, button[aria-pressed=true] {
      color: #fff !important;
    }
}

.o_loading {
  background-color: $brand-primary;
}

.fas {
  color: $inverse_theme !important;
}

.a_app_menu_title {
  display: none;
}

.o_button_import, .oe_import_file{
    background: #5aa29f !important;
    color: white !important;
    border: solid 2px #5aa29f !important;
}
.o_button_import:hover, .oe_import_file:hover,.o_button_import:active, .oe_import_file:active{
    background: white !important;
    color: #5aa29f !important;
    border: solid 2px #5aa29f !important;
}
.o_form_button_save,.o_form_button_edit{
    background: $brand-primary !important;
    border: solid 1px $brand-primary !important;
}
.o_form_button_save:hover,.o_form_button_edit:hover,.o_form_button_save:active,.o_form_button_edit:active{
    background: white !important;
    color: $brand-primary !important;
    border: solid 1px $brand-primary !important;
}
.o_form_status_indicator_buttons{
    .o_form_button_save{
        background: transparent !important;
        border-color: transparent !important;
    }
    .o_form_button_save:hover,.o_form_button_save:active{
        background: $o-gray-100 !important;
        color: $o-gray-900 !important;
        border-color: $o-gray-100 !important;
    }
}
// .o-kanban-button-new, .o_list_button_add,.o_form_button_create{
// background: #424242 !important;
// color: white !important;
// border: solid 2px #424242 !important;
// }
.o-kanban-button-new:hover, .o_list_button_add:hover,.o_form_button_create:hover,.o-kanban-button-new:active, .o_list_button_add:active,.o_form_button_create:active{
    background: white !important;
    color: $brand-primary !important;
    border: solid 1px $brand-primary !important;
    }


.report_button{
    border-radius: 0 !important;
    border: solid 2px $brand-primary;
    background: $brand-primary !important;
}
.report_button:hover,.report_button:active{
    border-radius: 0 !important;
    border: solid 2px $brand-primary !important;
    color: $brand-primary !important;
    background: $inverse_theme !important;
}
.btn-primary{
    border-radius: 0 !important;
}


.o_form_uri > span,.o_form_view .o_form_uri > span {
  //    color: #8b607d !important;
}

.custom-control-input:checked ~ .custom-control-label::before{
    color: #fff;
    border-color: $brand-primary;
    background-color:$brand-primary;
}

.btn-link, .btn-link:hover{
    color: $brand-primary;
}

.btn-fill-primary:focus, .btn-primary:focus, .btn-fill-primary.focus, .focus.btn-primary{
    box-shadow:none !important;
}

.o_loading_indicator.o_loading > span{
    color: #fff;
    border-color: $brand-primary;
    background-color:$brand-primary;
}

html .o_web_client > .o_action_manager > .o_action > .o_content{
   // background-color:#8f8e8e;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:after, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:before{
    border-left-color: $brand-primary;
}

.o_statusbar_status{
    .btn-secondary{
        border:none !important;
    }
}

a {
    color: $brand-primary;
}

.btn-fill-info, .btn-info {
    color: #fff;
    background-color: #666666 !important;
    border-color: #666666 !important;
}




/* date time picker colour changes for the theme */
.datepicker {
    .table-sm {
        > thead {
            > tr > .prev {
                color: #fff !important;
                background-color: $brand-primary !important;
                &:hover{
                    background-color: darken($brand-primary, 10%) !important;
                }
                > .fa{
                    color: #fff !important;
                }
            }
            > tr > .next {
                color: #fff !important;
                background-color: $brand-primary !important;
                &:hover{
                    background-color: darken($brand-primary, 10%) !important;
                }
                > .fa{
                    color: #fff !important;
                }
            }
            > tr > .picker-switch {
                color: #fff !important;
                background-color: $brand-primary !important;
                &:hover{
                    background-color: darken($brand-primary, 10%) !important;
                }
            }
        }
        > tbody > tr > td {
            &.today:before {
                border-bottom-color: $brand-primary !important;
            }
            &.active {
                background-color: $brand-primary !important;
            }
        }
    }
}
.picker-switch {
    span.fa {
        margin: 0;
        @include transition($btn-transition);
        &.primary {
            background-color: $brand-primary;
            color: white !important;
            &:hover {
                background-color: darken($brand-primary, 20%);
            }
        }
    }
}

.daterangepicker .drp-calendar .calendar-table thead tr:first-child {
    color: #FFFFFF;
    background-color: $brand-primary;
}

.daterangepicker .drp-calendar .calendar-table tbody tr td:not(.off).active, .daterangepicker .drp-calendar .calendar-table tbody tr td:not(.off).active:hover {
    background-color: $brand-primary;

}

.daterangepicker .drp-calendar .calendar-table thead tr:first-child th.prev:hover, .daterangepicker .drp-calendar .calendar-table thead tr:first-child th.next:hover {
    background-color: darken($brand-primary, 20%);

}

.daterangepicker {

}


//-=------V15---------//
$primary_accent: var(--primary-accent) !important;
$secondary_accent: var(--secondary-accent) !important;
$inverse_accent: var(--inverse-accent) !important;
$kanban-bg-color:var(--kanban-bg-color) !important;
$o-kanban-color-border-width: var(--o-kanban-color-border-width) !important;
$selected_row: var(--selected-row) !important;
$bg_white: var(--bg-white) !important;
$f_color: var(--f-color) !important;
$color_white : var(--color-white) !important;
$primary_hover: var(--primary-hover) !important;
$light_hover: var(--light-hover) !important;

$fullscreen-bg-color: var(--fullscreen-bg-color) !important;

@media (max-width: 768px){
    .app-menu{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: flex-start;
        margin: 0 auto;
        }
    .o_cp_bottom{
        flex-wrap: wrap !important;
    }
    .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled {

        margin-right: 10px;
    }
    .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.btn-primary), .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.btn-primary):hover, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.btn-primary):focus
    {
    margin-left:10px;
    }
    .o_form_view .o_form_statusbar > .o_field_widget {
        margin-left: -24px !important;
        margin-top: 1px !important;
    }
    .o_form_view .o_form_statusbar{
        // flex-direction: column !important;
        padding-left: 8px !important;
    }
}
@media (min-width: 768px){
    .o_form_view .o_form_sheet_bg > .o_form_sheet {
        margin: 12px auto;
    }

    .search-container{
        width: 850px;
        margin: 0 auto;
    }

}

@media (max-width:767px){

    .o_form_view .o_group{
        width:100% !important;
    }

    .dropdown-menu.show {
        display: block;
        border-radius:0;
    }
    .o_control_panel .breadcrumb > li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    }
    .o_control_panel .o_cp_top_right {
        min-height: 30px;
        max-width: 100%;
        margin-left: 10%;
    }
    .o_form_view .o_form_sheet_bg > .o_form_sheet {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        border: 1px solid #c8c8d3;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        background: white;
        // margin: 4.8px auto;
        padding: 24px;
        padding-right: 16px;
        padding-left: 16px;
    }
    .oe_topbar_name{
        display:none;
    }

    .nav-container {
    /*float: left;*/
    position: relative;
    width: 100vw !important;
    /*height: 100%;*/
    /*background: #fff;*/
    display: flex;
    /* justify-content: start; */
    align-items: start;
    margin-top: 2rem;
    }

    .o_cp_top{
        flex-wrap: wrap !important;
    }
    .o_cp_top_left, .o_cp_searchview{
        width: 0%;
    }
    .o_cp_top_right{
        width: 100%;
        margin: 1.5rem auto;
        margin-left: 0 !important;
    }

    //Search Panel
    .o_content o_controller_with_searchpanel, .o_controller_with_searchpanel{
        display:flex !important;
        flex-direction: column !important;
    }

    .o_search_panel{
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        height: 200px;
        width: 100%;
        section{
            margin-right: 1rem;
        }
    }
    .o_search_panel section {
        width: 100% !important;
    }
    .o_setting_container{
        display: flex;
        flex-direction: column;
    }
    .settings_tab{
        display: flex;
        flex-direction: row !important;
        overflow-x: auto;
        height: 40px;
    }
    .settings{
        margin-top: 1.5rem;
    }
}
//@media(max-width:716px){

    //html .o_web_client > .o_action_manager > .o_action > .o_content{
      //  overflow-x: hidden !important;
   // }
//}
//.o_control_panel .o_cp_bottom_right{
//    column-gap: 0px;
//}


@media (max-width:524px){

    .o_control_panel .o_cp_bottom_right > .o_cp_pager
    {
        // margin-top:5px;
    }
    div.app-menu *::before{
        box-sizing:none;
    }
    div.app-menu *::after{
        box-sizing:none;
    }
}
@media (max-width:493px){
    .o_control_panel .o_cp_bottom_left > .o_cp_action_menus {
        margin-left: 0px;
        padding-right: 10px;
    }
}
.o_calendar_view {
    .fc-today.fc-day-header{
        background: #263544 !important;
    }
}
.o_dashboard_common{
    .o_inner_box.o_dashboard_action{
        background-color: #263544 !important;
    }
}
.o_control_panel .o_cp_bottom_right{
    column-gap: 0px;
}

.o_control_panel{
    .o_cp_bottom{
        //border-top: 1px solid #ddd;
        padding-top: 5px;
    }
}
.o_search_options .o-dropdown .dropdown-toggle{
    color: rgb(76, 76, 76);
    background-color: white;
    border-color: rgb(204, 204, 204);
    padding: 0.375rem 0.75rem;
    font-size: 1.08333333rem;
    margin-right: 15px;

    &:hover{
        color: rgb(76, 76, 76);
        background: rgb(240, 240, 240);
        border-color: rgb(204, 204, 204);
    }
}
.o_legacy_form_view .oe_button_box .oe_stat_button .o_button_icon,
.o_form_view .oe_button_box .oe_stat_button .o_button_icon{
    color:$brand-primary !important;
}


.form-check-input:checked {
    background-color: $brand-primary !important;
    border-color: $brand-primary !important;
}

.btn-fill-odoo, .btn-odoo {
    background-color: $brand-primary !important;
    border-color: $brand-primary !important;
}

.o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current.disabled {
    color: $brand-primary !important;
}

.o_form_view .o_horizontal_separator {
    color: $brand-primary !important;
//     color: #666666 !important;
    font-weight: bold;

}


.o_form_view .o_form_uri > span:first-child{
color: $brand-primary !important;
}

.o_form_view .o_input{
  border-bottom: 1px solid #ccc !important;
}

.o_form_view .o_input::placeholder, .o_searchview_input::placeholder {
  color: #8e8e8e;
  opacity: 1;
}

.o_form_view .o_input:-ms-input-placeholder, .o_searchview_input:-ms-input-placeholder {
  color: #8e8e8e;
  opacity: 1;
}

.o_form_view .o_input::-ms-input-placeholder, .o_searchview_input::-ms-input-placeholder {
  color: #8e8e8e;
  opacity: 1;
}

.o-form-buttonbox .oe_stat_button.dropdown .o_dropdown_more > .dropdown-item .oe_stat_button{
    width: 100% !important;
}

.o_kanban_renderer .o_kanban_record > div::after{
    width: 3px;
}
.o_list_renderer .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(.o_list_record_remove){
    padding: 12px !important;
}

.o_list_record_selector > .o-checkbox{
    top: 6px;
    position: relative;
}

.o_loading_indicator{
background-color: $brand-primary !important;
}

.o_tooltip {
    &::before {
    background: radial-gradient(lighten($brand-primary, 7%), $brand-primary);
    }

    &.active {
    border-color: $brand-primary !important;

        &::before {
            border-color: $brand-primary;
        }
    }
}

.o_searchview_facet .o_facet_values {
    border: 1px solid $brand-primary !important;
}

.o_progressbar .o_progress .o_progressbar_complete,
.o_field_widget.o_field_percent_pie > .o_pie{
    background-color: $brand-primary !important;
}

.o_field_widget.o_field_percent_pie > .o_pie .o_pie_value{
     color: $brand-primary !important;
}

.o_modules_kanban{
    .oe_module_action .btn{
        font-size: 12px !important;
    }
}
.o_form_sheet .o_notebook_content.tab-content{
    overflow-x: inherit !important;
}
@media (min-width: 992px){
.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child:not(.o_group) .o_field_x2many.o_field_x2many_list tr > :last-child, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_invisible_modifier + .o_field_widget .o_field_x2many.o_field_x2many_list tr > :last-child
    {
        padding-right: 32px !important;
    }
}
@media (min-width: 992px){
.o_form_view .o_notebook > .tab-content > .tab-pane > :first-child:not(.o_group) .o_field_x2many.o_field_x2many_list tr > :first-child, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_invisible_modifier + .o_field_widget .o_field_x2many.o_field_x2many_list tr > :first-child
    {
     padding-left: 32px !important;
    }
}
