nav.o_main_navbar {
    > ul > li {
        > a {
            &.full {
                font-size: 20px;
            }
        }
    }
}

.o_main_navbar .o_navbar_apps_menu,.o_main_navbar .o_menu_brand{
    background:$navbar-color !important;
}
.o_main_navbar{
    border-bottom: 1px solid $brand-primary;
    background-color: #424242;
    height: 46px;
    height: 55px;
    align-items: center;
    //padding-top: 6px;
}

@media (min-width: 992px) {
  .o_main_navbar {
    --o-navbar-height: 55px !important;
  }
}

.o_main_navbar .o_menu_brand {
    padding-left: 12px;
    font-size: 20px;
    font-weight: 500;
}
.o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu {
    font-size: 20px;
    //margin-top:4px;
    border:0;
    width: 46px;
    text-align: center;
    position: relative;
    z-index: 201;
    line-height: 45px;
    border-radius: 0 !important;
}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color:transparent;
}
.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: transparent;
    color: inherit;
}
.o_main_navbar .show .dropdown-toggle {
    color: #97bde2;
    background-color: transparent;
}
.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
    letter-spacing: 0.5px;
}

.o-menu-slide {
    display:none !important;
}

body[data-menu="sidemenu"]{
   .o-menu-slide {
        display:block !important;
    }
}
