.o_web_client {
       background-color: $o-brand-background-color !important;
}
html .o_web_client > .o_action_manager > .o_action > .o_content {
    //background-color: $o-brand-background-color !important;
}
.btn, .btn-group .btn {
    border-radius: 0;
}

.o_input, .o_input .o_input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $o-main-text-color;
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    transition: background 0s ease-out 0s;
    padding: 3px 0;
    &:focus, &.focus {
        background-image: linear-gradient($brand-primary, $primary_theme), linear-gradient(#d9d9d9, #d9d9d9);
        border: 0 none !important;
        border-radius: 0;
        box-shadow: none;
        float: none;
        background-size: 100% 2px, 100% 1px;
        outline: 0 none;
        transition-duration: 0.4s;
    }
}

.table-striped {
    > tbody > tr:nth-of-type(odd) {
        background-color: lighten($brand-primary, 100%);
    }
}

.o_loading {
    top: unset;
    bottom: 0;
    z-index: 1052 !important;
    right: 0;
    border-radius: 0;
    padding: 10px 20px;
    background-color: $brand-primary;
}

