.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.main_tabcontent{
  padding: 18px;
  cursor:pointer;
  border-radius: 5px;
}
.tabcontent {
  padding: 6px 12px;
  cursor:pointer;
  border-radius: 5px;
}

.booking-breadcrumb{
   ul.wizard {
        padding: 0;
        margin-top: 20px;
        list-style: none outside none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.065);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.065);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.065);
    }

    ul.wizard li {
        border: 1px solid #d4d4d4;
        border-right-width: 0;
        position: relative;
        float: left;
        padding: 0 10px 0 20px;
        margin: 0;
        line-height: 38px;
        background: #fbfbfb;
    }

    ul.wizard li .chevron {
        position: absolute;
        top: 0;
        right: -10px;
        z-index: 1;
        display: block;
        border: 20px solid transparent;
        border-right: 0;
        border-left: 10px solid #d4d4d4;
    }

    ul.wizard li .chevron:before {
        position: absolute;
        top: -20px;
        right: 1px;
        display: block;
        border: 20px solid transparent;
        border-right: 0;
        border-left: 10px solid #fbfbfb;
        content: "";
    }

    ul.wizard li.text-success {
        background: #f3f4f5;
    }

    ul.wizard li.text-success .chevron:before {
        border-left: 10px solid #f5f5f5;
    }

    ul.wizard li.text-primary {
        background: #f1f6fc;
    }

    ul.wizard li.text-primary .chevron:before {
        border-left: 10px solid #f1f6fc;
    }

    ul.wizard li:first-child {
        padding-left: 15px;
        border-radius: 4px 0 0 4px;
    }

    ul.wizard li:last-child {
        border-radius: 0 4px 4px 0;
        border-right-width: 1px;
    }
    ul.wizard li:last-child .chevron {
        display: none;
    }
}
.appointment_booking{
//     border-radius: 5px;
    background-color: #fafafa;
}
.appointment_booking:hover{
//     background-color: black;
//     color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}
.toggle:hover{
//     background-color: black;
//     color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.toggle{
    border-radius: 5px;
    background-color: #fafafa;

}

.calender_view{
    border-right: 1px solid #ccc;
//     border-radius: 30px;
}

.ScrollStyle
{
    max-height: 350px;
    overflow-y: auto;
}

.big {
    display:block;
    width:auto;
    height:auto;
    background-color:#fafafa;
    cursor:pointer;

}

.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.truncate{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}


.js_oe_appointment_booking{
    a {
      color: #469408;
      text-decoration: none;
      background-color: transparent;
    }
}

.appointment-title{
    .overlay {
        background: map-get($theme-colors, 'secondary') none repeat 0 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
