$o-knowledge-font-configs: (
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:400,400i,700,700i',
    )
) !default;

@each $font-name, $font-config in $o-knowledge-font-configs {
    $url: map-get($font-config, 'url');
    @if $url {
        @import url("https://fonts.googleapis.com/css?family=#{unquote($url)}&display=swap");
    }
}

.o_knowledge_editor {
    min-height: 100%;
    font-family: "Roboto", "odoo Unicode Support Noto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    .oe_form_field {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .note-editable {
        border: none;
        background: transparent;
    }
    .note-editable,
    .o_readonly {
        flex-grow: 1;
        padding-top: 1rem !important;

        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
        }
    }
}

.o_knowledge_article_view_form_dynamic_width.o_invisible_modifier + .o_knowledge_editor {
    .note-editable,
    .o_readonly {
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media print {
    .o_knowledge_editor .note-editable,
    .o_knowledge_editor .o_readonly {
        padding-bottom: 0;
    }
}
