
.o_knowledge_behavior_type_file {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: $o-gray-100;
    outline: 1px solid $o-gray-300;
    outline-offset: -1px;
    display: flex;
    padding: 5px;
    & > .o_knowledge_file_image {
        display: flex;
    }
    & > .o_knowledge_file_description {
        margin-left: 5px;
        margin-right: 5px;
    }
    .o_knowledge_file_extension {
        text-transform: uppercase;
        font-size: $font-size-sm !important;
    }
}
.o_knowledge_behavior_type_toc {
    box-shadow: 0 2px 4px 4px $o-gray-200;
    padding: 10px;
    margin: 15px 0 15px 0;
    & > .o_knowledge_toc_content {
        @for $depth from 0 through 5 {
            a.o_knowledge_toc_link_depth_#{$depth} {
                padding-left: calc(5px + Min(30px, 10%) * #{$depth});
                font-family: $font-family-base !important;
                font-weight: $font-weight-bolder !important;
                border-radius: 5px;
                min-height: $line-height-base * $font-size-base;
                border: transparent;

                &:hover {
                    background-color: rgba(#1ba1e4, 0.2);
                    text-decoration: none;
                }
            }

            a.o_knowledge_toc_link_depth_0 {
                padding-left: 5px;
            }
        }
    }
}
.o_knowledge_behavior_type_template {
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: $o-gray-100;
    outline: 1px solid $o-gray-300;
    outline-offset: -1px;
    & > .o_knowledge_content {
        padding: 5px;
        border-bottom: 5px solid $o-gray-100;
        margin: 0 5px;
        background-color: $white;
        p:last-child {
            margin-bottom: 0;
        }
    }
    .o_knowledge_template_toolbar {
        min-height: 5px;
    }
    .o_knowledge_template_label {
        font-family: $font-family-base !important;
        font-weight: $font-weight-bold;
        padding: $btn-padding-y-sm $btn-padding-x-sm;
        color: $o-gray-600;
    }
}

.o_knowledge_file {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: $o-gray-100;
    display: flex;
    padding: 5px;
    & > .o_knowledge_file_image {
        display: flex;
    }
    & > .o_knowledge_file_description {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.o_knowledge_file_extension {
    text-transform: uppercase;
    font-size: $font-size-sm !important;
}

.o_knowledge_template {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: $o-gray-100;
    & > .o_knowledge_content {
        padding: 5px;
        border-bottom: 5px solid $o-gray-100;
        margin: 0 5px;
        background-color: $white;
        p:last-child {
            margin-bottom: 0;
        }
    }
    .o_knowledge_toolbar_anchor {
        min-height: 5px;
    }
}

.o_knowledge_behavior_type_article {
    border-color: $o-gray-200;
}
