input[type="file"] {
display: block;
}
.imageThumb {
max-height: 75px;
border: 2px solid;
padding: 1px;
cursor: pointer;
}
.pip {
display: inline-block;
margin: 10px 10px 0 0;
}
.remove {
display: block;
background: #444;
border: 1px solid black;
color: white;
text-align: center;
cursor: pointer;
}

.remove:hover {
background: white;
color: black;

}.ticket.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.ticket.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

.ticket.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
}

.ticket.align-items-center {
    align-items: center !important;
}

.ticket.justify-content-between {
    justify-content: space-between !important;
}

.ticket-count {
    color: #FFFFFF;
    background-color: #7c6576;
}
.badge-ticket-count {
    padding-right: 0.6em !important; 
    padding-left: 0.6em !important;
    border-radius: 10rem !important;
    float: right !important;
}

.ticket-o_portal {
    margin-bottom: 0px;
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5 !important;
    border-radius: 4px;
}

.ticket_panel_body {
    padding: 15px;
}

.ticket_btn_primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.ticket-btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.ticket-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.ticket-table > thead > tr.active > th {
    background-color: #f5f5f5;
}
.ticket-table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.ticket-table > thead > tr > th {
    padding: 8px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;    
}

.ticket-table > tbody > tr > td {
    padding: 8px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.ticket-panel-primary {
    border-color: #337ab7 !important;
}

.ticket-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.ticket-panel-primary > .ticket-panel-heading {
    color: #fff;
    background-color: #337ab7;
    /*border-color: #337ab7 !important;*/
}
.ticket-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.ticket-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}


.ticket-o_portal .breadcrumb {
    margin-bottom: 0px;
    display: inline-block;
    background-color: #f5f5f5 !important;
}

.website-card .helpdesk {
    display: flex;
    background: rgb(230, 230, 230);
    color: #212529 !important;
}

.ticket.panel.body{
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.margin {
    margin-left: 400px;
}


.space.row {
    padding: 10px;
}

.home_space {
    margin-left: 5px;
}
