
<section class="oe_container lead bi_title_box">
    <div>
        <div>
            <h2 class="oe_slogan bi_title" style="color:#5082c4;">
                <b>Microsoft Azure SSO Login Integration With OpenEduCat</b>
            </h2>
            <h3 class="oe_slogan bi_title" style="color: #201111;">
                <b>OpenEduCat Login with Microsoft Azure SSO App</b>
            </h3>
            <p class="oe_slogan">
                Microsoft Azure SSO Integration OpenEduCat app helps users to integrate Microsoft Azure with OpenEduCat. Users can
                login into OpenEduCat using a microsoft account using this microsoft sso integration OpenEduCat app. Using this
                feature microsoft users don't require to create complete users in OpenEduCat and using microsoft account they
                can login directly on OpenEduCat. Whenever a new user logged in user/contact/partners is created with
                microsoft account details.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
    <div>
        <div>
            <h3 class="oe_slogan"
                style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: #201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;">
                <b>Features</b></h3>
        </div>
        <div class="row">
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/Microsoft.png"/>
                    </div>
                    <div class="col-md-9">
                        <h4><b>Microsoft - OpenEduCat SSO Integration</b></h4>
                        <span class="oe_slogan">Microsoft azure sso integration with OpenEduCat.</span>
                    </div>
                </div>
            </div>
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/user.png"/>
                    </div>
                    <div class="col-md-9">
                        <h4><b>Create User in Backend from Microsoft Account</b></h4>
                        <span class="oe_slogan">On login with microsoft account new portal user will created.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/signup.png"/>
                    </div>
                    <div class="col-md-9">
                        <h4><b>Sign Up to OpenEduCat with Microsoft Account</b></h4>
                        <span class="oe_slogan">User can sign up with microsoft account details to OpenEduCat.</span>
                    </div>
                </div>
            </div>
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/signin.png"/>
                    </div>
                    <div class="col-md-9">
                        <h4><b>Sign In to OpenEduCat with Microsoft Account</b></h4>
                        <span class="oe_slogan">User can sign in with microsoft account details to OpenEduCat.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Microsoft
                Azure Configuration</p>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Create
                Application</p>
            <p class="oe_slogan">User need to create and register application on microsoft azure portal under "Azure
                Active Directory".</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="1_create_app.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan">Under "App Registration" section user can create application by clicking plus icon or
                "Add Application Registration" menu.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="2_create_app.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan">User have to enter application name, select supported account type, and enter "Redirect
                URL" as <STRONG>"http://yourdomain/microsoft_sso_integration/microsoft"</STRONG>, For example
                http://localhost:8024/microsoft_sso_integration/microsoft and click "Register" button.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_register.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan">User can see created application.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_app.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">
                Application ID & Client Credentials</p>
            <p class="oe_slogan">Under "Overview" section of application user can see "Application ID" and "Client
                credentials.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="5_client_id.png">
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="6_secret_key.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan">User also need to provide "API permissions" to application.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="7_api_permission.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">OAuth
                Providers Configuration</p>
            <p class="oe_slogan">Activate "Developer Mode" and navigate to Settings > Users & Companies > OAuth
                Providers menu.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="8_auth_provider.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan">User can see "Microsoft OAuth2" in provider list.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="9_provider_tree.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan">User usser need to add "Client ID" and "Client Secret Key" of Microsoft Azure
                application and, also enter "Scope" as "User.ReadWrite.All User.ReadWrite User.ReadBasic.All
                User.Read.All", and "Data URL" as "http://graph.microsoft.com".</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="10_provider_form.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Login
                with Microsoft</p>
            <p class="oe_slogan">On OpenEduCat login screen user can see "Login with Microsoft" option.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_login.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan">On clicking "Login with Microsoft button on login page user will redirect to microsoft
                account login page.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_sign_in.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Logged In
                in User with Microsoft Account</p>
            <p class="oe_slogan">User can see logged in user with microsoft account.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="14_login_user.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Created
                User with Microsoft Account</p>
            <p class="oe_slogan">User can see created user in OpenEduCat backend with microsoft account details.</p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;"
                 src="15_created_user.png">
        </div>
    </div>
</section>