.o_knowledge_permission_panel {
    .o_m2m_avatar,
    .o_company_icon {
        width: 30px;
        height: 30px;
    }
    .active {
        background: #cceaf9;
    }
    .text-muted {
        font-size: 0.85rem;
    }

    .o_member_email {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 150px;
    }

    .o_delete {
        display: none;
    }
    div:hover {
        .o_delete {
            display: inline;
        }
    }

    .o_permission {
        &.readonly {
            background: white;
            cursor: default;
            color: black;
            border-color: #787878;
        }
    }
}
