<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Multiple Branch/Unit(operation) Management Odoo Apps for Single Company</b>
			</h2>
			<h3 class="oe_slogan bi_title" style="color: ##201111;">
				<b>Multi Branches management for All Application Odoo Apps</b>
			</h3>
			<h3 class="oe_slogan bi_title" style="color: ##201111;">
				<b>Manage Different Branch Unit for single company in Odoo</b>
			</h3>
			<p class="oe_slogan">
				Do you have multiple unit for single company? Do you want them to works as separate entity inside the company? Here you go, This multiple branch management Odoo apps helps users to make different branches for single company with multi branch concept which works same as multi-company environment.<br/>
                Also Don't worry about the access rights too, We have added branch user/manager roles inside the Odoo module, Branch user can only access records of its specific branch and Branch manager can see records of all Branches.<br/>
                Branch functionality added to Sale Order, Purchase Order, Invoice/Billing, Accounting, Warehouse and Products etc. 
                <br/>
             </p>
             <p class="oe_slogan">
                You can also manage multiple branch with multi company environment. For each company you can add several branches also multi company rules is already applied on branch object, so if user don't have access of company then that user can't have access of branch of that specific company. 
			</p>
             <p class="oe_slogan">
              Multi branch Odoo apps works for both community and enterprise edition with all generic application like contact, product, sales, purchase, warehouse,billing, accounting etc. We have other separate apps available for Manufacturing,Projects, Subscription, Helpdesk etc, you can see that on Odoo store and If you can't see it contact us, we will help you on that.
             <br/>
                If you are using Odoo enterprise edition and don't want to use specific application i.e Purchase or Sales, then don't worry we will simply remove that dependency for you without any extra cost.
			</p>

			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> looking for Multiple Branch Accounting Enterprise Reports Apps, please check below module link
				<br/>
                <strong><a class="text-center" style="color: #21B799" href="https://apps.odoo.com/apps/modules/14.0/branch_accounting_report/" target="_blank">Financial Reports For Branch -Enterprise Edition Odoo Apps.</a></strong>
            </p>

            <p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> Looking for Multiple Branch Accounting Community Reports Apps, please check below module link
            	<br/>
                <strong><a class="text-center" style="color: #21B799" href="https://apps.odoo.com/apps/modules/14.0/bi_branch_financial_pdf_reports/" target="_blank">Multiple Branch Accounting Community Reports Odoo Apps.</a></strong>
            </p>

            <p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> Here is Advance Multiple Branch Odoo Apps, please check below module link
            	<br/>
                <strong><a class="text-center" style="color: #21B799" href="https://apps.odoo.com/apps/modules/14.0/bi_advance_branch/" target="_blank">Advance Multi Branch Management Odoo Apps.</a></strong>
            </p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Multi Language Translation Available</p>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 25px;font-style: italic;font-weight:bolder;"> We have added Translation using google translate for English (US), Arabic, French / Français, Spanish / Español and Dutch / Nederlands, if you want to change translation terms or add new translation provide us translation, we will add that without any cost.
			</p>
		</div>
	</div>
	<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="Language" style="text-align:center">
               <img title="English" alt="English" style="margin:10px 10px" src="languages/English.png">
               <img title="Arabic" alt="Arabic" style="margin:10px 10px" src="languages/Arabic.png">
               <img title="French" alt="French" style="margin:10px 10px" src="languages/French.png">
               <img title="Spanish" alt="Spanish" style="margin:10px 10px" src="languages/Spanish.png">
               <img title="Dutch" alt="Dutch" style="margin:10px 10px" src="languages/Dutch.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/branch_metrics.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Multi Branch Concept. </b></h4>
					  <span class="oe_slogan">  It allows you to create Multiple Branch/Unit, Working as multi branch concept same as Odoo's multi company environment.  </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/branch_access.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Complete Workflow for Branch. </b></h4>
						<span class="oe_slogan">  Branch functionality added to Sales, Purchase, Invoice, Warehouse, Access group created for branch manager and branch user with specific branch.  </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:tinhmd.it@gmail.com?Subject=Demo Request for Multiple Branch/Unit(operation) Management Odoo Apps for Single Company" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="#" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Branch Access Rights</p>
			<p class="oe_slogan">User have to give branch access like User or Manage, User have to "Multi Branches".</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_branch_Access.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Create Multiple Branch </p>
			<p class="oe_slogan">Branch Manager can create multiple branch under Settings > Users & Companies > Branch menu, User also can set branch details like address, phone, company.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_branch_tree.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_branch_form.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Assign Branch User </p>
			<p class="oe_slogan"> Branch manager can assign a branch for which specific user is belongs.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_branch_user.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Multi Branch Feature</p>
			<p class="oe_slogan">Users with "Multi Branches" access rights can see and change multiple branch from header.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_multi_branch.png">
			<p class="oe_slogan">On clicking branch on header user can see allowed branches and can select one, on changing branch users branch will also changed under users settings.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_multi_branch_change.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Branch On Customer</p>
			<p class="oe_slogan"> Branch manager can set customer for specific branch by selecting branch on customer. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_branch_customer.png">

			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Product Template </p>
			<p class="oe_slogan"> User can set branch on product template, selected branch on product template will automatically added to product variant. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="8_branch_product.png">

			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Product Variant </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="9_branch_variant.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Sales Flow </p>
			<p class="oe_slogan"> While creating sales order user who is currently login, branch of the user is set as branch to the sales order and warehouse shipment address is also set according to selected branch. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="10_sale_branch.png">
			<p class="oe_slogan"> User can see created records of sale order group by branch as shown bellow image.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="11_branch_groupby.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch Sales Analysis Report </p>
			<p class="oe_slogan"> You can see sales analysis report based on branch. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="12_brnach_analysis.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch on Delivery Order </p>
			<p class="oe_slogan"> While Quotation get confirmed generated picking(delivery) will have same branch automatically set based on Sales Order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="13_branch_picking.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch on Customer Invoices </p>
			<p class="oe_slogan"> While quotation get confirmed generated picking(delivery) will have same branch automatically set based on Sales Order.</p>
			<p class="oe_slogan"> When creating manual invoice then log in user's branch will be assigned to the invoice.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_branch_invoice.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Journal Items </p>
			<p class="oe_slogan"> While invoice created the branch will automatically set on journal items from invoice.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="15_journal_items.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Customer Payment</p>
			<p class="oe_slogan">Selected branch of the invoice will automatically set on account payment. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="16_branch_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Bank Statement</p>
			<p class="oe_slogan">User can also see branch on bank statement generated for payment.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="17_branch_branck_statement.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Purchase Order</p>
			<p class="oe_slogan"> While creating purchase order user who is currently login, branch of the user is set as branch to the purchase order. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="18_branch_purchase.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan"> User can see created records of purchase order group by branch as shown bellow image.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="19_branch_groupby.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch Purchase Analysis Report </p>
			<p class="oe_slogan"> You can see purchase analysis report based on branch. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="20_branch_analysis.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch on Picking </p>
			<p class="oe_slogan"> While RFQ(purchase) get confirmed generated picking(shipment) will have same branch automatically set based on RFQ. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="21_branch_receipt.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Vendor Bill </p>
			<p class="oe_slogan"> While bill created from the purchase order selected branch of the purchase order will automatically set on vendor bill. </p>
			<p class="oe_slogan"> After Validate invoice, Selected branch of the invoice will automatically set on Journal Items. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="22_branch_bill.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Vendor Payment</p>
			<p class="oe_slogan"> Selected branch of the invoice will automatically set on Account Payment. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="23_branch_payment.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Warehouse </p>
			<p class="oe_slogan"> You can also define branch in the warehouse and all the technical fields are set according to the branch. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="24_branch_warehouse.png">
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Stock Locations </p>
			<p class="oe_slogan"> In warehouse locations you can also set branch. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="25_branch_location.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Branch On Inventory Valuation </p>
			<p class="oe_slogan"> User also can set branch on inventory valuations. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="26_branch_inventory.png">
		</div>
	</div>
</section>

