.dashboard_element_count_layout_3{
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    min-height: 24px;
}
.dashboard_element_name_layout_3{
    text-align: right;
    font-weight: bold;
    font-size: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.parent_dashboard_element_main_body{
    //position: relative;
    //background-color: #002147;
    border-radius: 6px;
    .media{
        border: 1px solid #e7e7e7;
        p{
            font-size: 14px !important;
        }
    }
    .media:hover{
         box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
    }
    .media-body{
        padding: 34px;
    }
    .img-bg{
        background: #f7f8fa;
        padding: 20px;
    }
    .img-bg img{
        width: 150px;
        border-radius: 50%;
    }
}
@media(max-width: 425px){
    .parent_dashboard_element_main_body{
        .media{
            display: block !important;
        }
    }
}
.parent_dashboard_element_main_body:hover{
    background-color: #fff;
//     height: 100%;
}
#wrapwrap.o_portal .o_portal_wrap{
    #student-profile .nav a {
    background: #f4f8fb !important;
    }
    #student-profile #personal_info strong.text-secondary{
        color: #222222 !important;
    }
    #student-profile .tab-content .table-condensed thead {
        background: #f4f8fb !important;
        color: #222222 !important;
    }
    #student-profile #discipline a button{
        background: #0341a5;
        color: #fff !important;
        font-weight: bold;
        border-radius: .25rem;
        padding: 2px 5px !important;
        border: 2px solid #0341a5;
    }
    #education_info .educational-bg strong{
        color: #222222 !important;
    }
    .o_portal_navbar {
        margin-bottom: 32px !important;
    }
    .o_portal_pager {
        margin-top: 32px !important;
    }
    .o_portal_my_doc_table .thead-light th, .o_portal_my_doc_table .thead-light{
        color: #222;
        background-color: #f4f8fb;
        border-color: #dee2e6;
        border-top: 1px solid #DEE2E6;
        em.text-muted{
            color: #222 !important;
            font-style: normal;
            font-weight: 600 !important;
        }
    }
    .o_portal_my_doc_table tbody td a button{
        background: #fdbb18;
        color: #002147 !important;
        padding: 5px 10px !important;
        border: 1px solid #fdbb18;
    }
    #o_my_sidebar{
        margin-top: 32px;
//         display: none;
    }
    .o_portal_my_home{
        h3{
            font-size: 35px;
            margin-bottom: 22px;
            margin-top: 22px;
            padding-bottom: 22px;
            position: relative;
            border-bottom: 1px solid #e7e7e7;
        }
    }
    .portal_buttons a button{
        background: #fdbb18;
        color: #002147 !important;
        padding: 5px 10px !important;
        border: 1px solid #fdbb18;
    }
}