  .o_Composer:not(.o-messaging-in-editing) {
    background-color: white;
  }

  .o_Message.o-not-discussion {
    background-color: white;
  }

  .o_ThreadView {
    background-color: #fff;
  }

  .o-fullScreen.o_RtcCallViewer.col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form-control:focus {
    border-color: #ced4da !important;
  }

  .form-control {
    height: 40px;
  }

  .o_DiscussSidebar_quickSearch {
    border-radius: 0px;
    margin: 0 15px 10px;
    padding: 10px;
  }

  #messagelist {
    border-right: 1px solid #dee2e6;
  }

  .o_ChatWindowManager .o_ChatWindow {
    display: none;
  }

  .o_ThreadView_channelMemberList.d-none {
    display: none !important;
  }

  .o_RtcCallViewer.o-isMinimized {
    height: 100%;
    width: 100%;
  }

  .o_RtcCallViewer {
    height: 100%;
    width: 100%;
  }

  .o_Composer {
    width: 100%;
  }

   .o_Message_prettyBody p{
   width: auto;
   margin: 0px;
   }

  /* .o_ThreadViewTopbar_showMemberListButton {
    display: none;
  }

  .o_ThreadViewTopbar_hideMemberListButton {
    display: none;
  } */