#apps_menu {
    position: fixed;
    top: $o-navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    border-radius: 0;
    z-index: 200;
    //background-color:#f2f7fb;
    background: transparent url(/openeducat_backend_theme/static/src/img/application-switcher-bg.jpg) scroll center center;
    background-size: cover !important;
    flex-flow: column nowrap;
    display: flex;
    .search_home_hidden{
        opacity: 0;
    }

    .o_app_search_results{
        //overflow: auto;
        overflow: auto;
        margin-top: 10px;
        overflow-y: overlay;
    }
    .o_app_search_results_sub{
        //max-width: 750px;
        max-width: 1024px;
        height: calc(100vh - 55px - 13em);
        width: 100%;
        margin: auto;
        flex: 0 0 auto;
    }
    .o-menu-search-result{
        font-size: 18px;
    }
    .o_app_search {
        display: flex;
        flex: 0 0 auto;
        width: 100%;
        //max-width: 750px;
        max-width: 1024px;
        margin: auto;
        padding: 0px 0;
        height: 32px;
        .o_search_box {
            flex: 1 1 0;
            border: none;
            border-bottom: 1px solid lighten($brand-primary, 50%);
            color: $brand-primary;
            background-color: transparent;
            padding: 0 10px;
            font-size: 20px;
            &:focus {
                border-bottom: 2px solid $brand-primary;
                outline: none;
            }
        }
        .o_search_icon {
            padding: 0 10px;
            color: $brand-primary;
            font-size: 24px;
            background-color: transparent;
            padding-left: 0;
        }
    }
    .o_apps_container {
        max-width: 850px;
        width: 100%;
        margin: auto;
        flex: 0 0 auto;
        .o_app {
            float: left;
            width: calc(100%/6);
            cursor: pointer;
            text-align: center;
            height: 110px;
            margin: 8px;
            width: 125px;

            &:last-child{
                margin-bottom: 20px;
            }
            .o_app_name {
               margin: 10px 5px;
                //font-weight: bold;
                //color: $brand-primary;
                color: #333;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .o_app_icon {
                margin: 18px 0 auto;
                max-height: 70px;
                border-radius: 3px;
                transition: .3s;
            }
            @media (max-width: map-get($grid-breakpoints, 'sm')) {
                width: calc(100%/3);
                margin: auto;
            }
            @media (max-width: map-get($grid-breakpoints, 'xs')) {
                width: calc(100%/3);
                margin: auto;
            }
            &:hover, &:active {
                .o_app_icon{
                    transform: scale(1.05,1.05);
                }
            }
        }
    }
    .o_brand_logo {
        flex: 1 0 auto;
        align-items: flex-end;
        margin: auto;
        display: flex;
        height: 100px;
        width: 600px;
    }
}
ul.o_menu_systray {
    .dropdown-menu {
        z-index: 1052;
    }
}
