.o_list_view thead {
    background-color: #eee !important;
}

.o_list_view thead > tr > th {
    border-left: 0px solid #dfdfdf;
}
.o_list_view tbody:first-of-type > tr:first-child:not(.o_group_header) {
    box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}
.o_form_view .o_field_widget .o_list_view.table-striped > tbody > tr > td {
    border-top: none;
}
.o_list_view > thead > tr > :empty, .o_list_view > tbody > tr > :empty, .o_list_view > tfoot > tr > :empty {
    padding: 0;
}
.table thead th {
    border-top: 0px;
}

.table-striped > tbody > tr:nth-of-type(odd){
    background-color: #f9f9f9 !important;
}
