$o-community-color: #424242 !default;
$o-brand-odoo:      #424242 !default;
$o-brand-primary:   #424242 !default;
$o-navbar-height:   55px !default;
$brand-info-dark:   #8b607d !default;
$o-brand-primary: $o-community-color !default;


$primary:       #424242 !default;
$secondary:     #448AFF !default;
$success:       #469408 !default;
$info:          #666666 !default;
$warning:       orange !default;
$danger:        #d91f1f !default;
$o-info: #666666 !default;
$navbar-color:#424242 !default;


$brand-primary: $o-brand-primary;
$primary_theme: #424242 !default;
$secondary_theme: #448AFF !default;
$inverse_theme: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: #555b6d !default;
$primary_hover: #424242 !default;




