<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">OpenEduCat Dynamic Admission</h2>
            <h3 class="oe_slogan">To Create Dynamic Admission Form and Online Admission</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://openeducat.org/demo"> <img
                    src="openeducat_logo.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">This module allows you to create dynamic admission form and get online application using that web form.</p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.openeducat.org/contactus/"
                    class="oe_button oe_big oe_tacky">Contact Us</a>
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Create Application Form</h2>
        <div class="oe_span6">
            <p class="oe_mt32">This module allows you to create dynamic Admission Form.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://openeducat.org/demo"> <img
                    src="admission_template.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Online Demo</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Edit Application Form</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://openeducat.org/demo"> <img
                    src="edit_admission_template.png">
                </a>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                This module also allow to create your custom fields, edit form and design for your Admission Form.
            </p>
        </div>

    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Select Admission Form</h2>
        <div class="oe_span6">
            <p class="oe_mt32">This module allows you to Select dynamic Admission Forms for register.
                This module also allow to user has registration required or not.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://openeducat.org/demo"> <img
                    src="select_template.png">
                </a>
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Online Application Form</h2>

        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://openeducat.org/demo"> <img
                    src="admission_form.png">
                </a>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">This module allows you to manage online admission process.</p>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Online Payment for Registration</h2>
        <div class="oe_span6">
            <p class="oe_mt32">Select the payment method for online payment.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="payment.png">
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Need Any Help?</h2>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="mailto:support@openeducat.org"><i class="fa fa-envelope"></i> Email </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-phone"></i> Contact Us </a>
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="https://www.openeducat.org/page/contactus"><i class="fa fa-check-square"></i> Request Customization </a>
        <a class="mt8 btn btn-primary btn-lg" style="color: #FFFFFF !important;margin-right: 7px;" href="https://www.openeducat.org/page/return-and-refund-policy"><i class="fa fa-share-square" style=""></i> Returns and Refunds Policy</a>
    </div>
</section>

