.heading-digit{
    font-size: 30px;
    color: #002147;
    display: inline-block;
    margin: 10px 0;
    }
    #question_template{
    iframe {
        width: 100%;
        height: 100%;
    }

     .embed-responsive{
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
}
.quiz_nxt,
.quiz_prv{
    margin-top: 10px;
}