.web_no_code_studio_menu_bar{
    background-color: #3c3c3c;
    display: flex;

    .web_no_code_studio_breadcrumb{
        color: #dcdcdc;
        cursor: pointer;

        .breadcrumb{
            background-color:#3c3c3c;
        }
    }

    .web_no_code_studio_menu_sections{
        list-style-type: none;
        margin: 0;

        div{
            display: inline;
            margin: 0 10px;
            padding: 0px;

            &.web_no_code_studio_menu_item:hover{
                border-bottom: 3px solid $primary;
            }

            a{
                padding: 5px;
                color: #dcdcdc;
            }
        }
    }
}
