.report_editor_sidebar{
    flex: 0 0 300px;
    background-color: #e9ecef !important;
}
.report_editor_sidebar{
    .web_no_code_studio_field_section{
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .web_no_code_studio_draggable{
        width: 50% !important;
        max-width: 188px !important;
    }

    .web_no_code_studio_draggable:hover{
        border-color: #009efb;
    }

    .view_edit_img{
        border-right: 1px solid #dee2e6;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

    .web_no_code_studio_report_options{
        input{
            background-color: #fff;
        }
    }
    .web_no_code_studio_tif_ifexpression {
        position: relative;

        .fa {
            @include o-position-absolute(1px, 1px);
            padding: 4px;
            cursor: pointer;
        }
    }
    .o_field_widget.o_field_many2manytags{
        max-width: none;
        width: 100%;
        padding: 0px;
    }
}
.report_editor_top_bar{
    display: flex;
    line-height: 18px;
    background-color: #cecece;
    color: #292929;

    div:hover{
        cursor: pointer;
    }
    .active{
        background-color: #292929;
        color: #cecece;
    }
}
.web_no_code_studio_view_all_reports{
    .new_report_hover{
        display: none;
        transition: opacity 0.5s ease-in-out;
        cursor: pointer;
        width: 100%;
    }
    .remove_report_button{
        position: absolute;
        top: 8px;
        right: 16px;
        font-size:18px;
        z-index: 11;
        cursor: pointer;
        display: none;
    }

    .existing_report:hover{
        .remove_report_button{
            display: block;
        }
    }

    .new_report_non_hover{
        display: block;
        transition: opacity 0.5s ease-in-out;
    }

    .new_report:hover{
        .new_report_hover{
             display: block;
             transition: opacity 0.5s ease-in-out;
        }
        .new_report_non_hover{
            display: none;
            transition: opacity 0.5s ease-in-out;
        }
        .new_report_hover:hover{
            background-color: #6e6e6e;
            color: white;
        }
    }
}
.web_no_code_studio_report_selected {
    outline: 2px dashed $o-brand-primary;
    outline-offset: -2px;
    // make selection visible on dark/green backgrounds
    box-shadow: inset 0 0 0 2px white;
    background-color: rgba($o-brand-primary, 0.1);
}
.side_bar_report_main_data{
    padding-left: 10px;
    padding-right: 10px;
    .web_no_code_studio_draggable{
        cursor: move;
        display: inline-block;
        white-space: nowrap;
        height: 30px;
        line-height: 30px;
        background-color: #f9f9f9;
        color: #2d2c2c;
        overflow: hidden;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        width: 33%;
        position: relative;
        max-width: 130px;
        border: 1px solid #dee2e6;
        font-size: 12px;
        font-weight: bold;
        padding: 0 2px;
    }
}

.report_editor_hook{
//     height: 10px;
//     background-color: grey;
//     line-height: 10px;
    background-color: grey;
    border: 1px dashed black;
    padding: 20px;
    margin: 4px 0;
}
.report_html_iframe{
    border: 0;
}
.report_designer_view_main{
    height: 100%;

    .report_data{
        overflow: auto;
        flex: 1 1 auto;
    }
    .view_report_editor_sidebar{
        flex: 0 0 400px;
        overflow: auto;
        background-color: #e9ecef !important;
    }
}
#accordionElements{
    position: relative;

    .waterfall_header{
        border-left: 2px solid #636161;
        position: relative;

        &:before{
            content: '';
            height: 0.1rem;
            width: 0.5rem;
            background-color: #000000;
            position: absolute;
            left: -1px;
            top: 16px;
        }
        .waterfall_title{
            padding-left: 15px;
        }
    }
    .waterfall_header_last{
        position: relative;
        &.web_no_code_studio_active{
            &:after{
                height   : 97%;
            }
        }
        &:after{
            content : "";
            position: absolute;
            left    : 0px;
            z-index: 100;
            top  : 0;
            width  : 1px;
            height   : 50%;  /* or 100px */
            background: #555;
        }
         &:before{
            content: '';
            height: 0.1rem;
            width: 0.5rem;
            background-color: #000000;
            position: absolute;
            left: 0px;
            top: 16px;
        }
        .waterfall_title{
            padding-left: 15px;
        }
    }
    .waterfall_header_first{
        position: relative;

        &.web_no_code_studio_active{
            &:after{
                height   : 97%;
            }
        }
        &:after{
            content : "";
            position: absolute;
            left    : 0px;
            z-index: 100;
            bottom  : 0;
            width  : 1px;
            height   : 51%;  /* or 100px */
            background: #555;
        }
         &:before{
            content: '';
            height: 0.1rem;
            width: 0.5rem;
            background-color: #000000;
            position: absolute;
            left: 0px;
            top: 16px;
        }
        .waterfall_title{
            padding-left: 15px;
        }
    }
}

.note-back-color-preview{
    .dropdown-menu.show {
        left: -72px;
    }
}

.note-fore-color-preview{
    .dropdown-menu.show {
        left: -25px;
    }
}

abbr{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 4px;
    right: 1rem;
    bottom: 0;
}

.no_code_bold{
    font-weight: bold !important;
}