.state_flow_parent{
    width: 100%;
    height: 100%;

    .state_flow_main{
        background-image: url('/openeducat_web_no_code_studio/static/src/img/patternbg.png');
    }

    .flowchart-operator .flowchart-operator-title{
        font-size: 13px;
    }
    //Main Content SCSS
    .flow_chart{
        width: 100%;
        height: 100%;
    }

    .flowchart-event-operator-editor{
//         background-color: #00203FFF;
        color: black;

        .flowchart-operator-title{
//             background-color: #00203FFF;
            border-bottom: unset;
        }
    }

    .flowchart-event-operator-move{
        background-color: #ADEFD1FF;
        color: black;

        .flowchart-operator-title{
            background-color: #ADEFD1FF;
            border-bottom: unset;
        }
    }

    .flowchart-operator-title{
        text-align: center;
    }

    .flowchart-operator{
        border-radius: 5px;
    }

    .state_flow_sidebar{
        background-color: #dcdcdc;
        border-left: 1px solid grey;
    }

    .state_flow_menu_bar{
        background-color: #585858;
        align-items: center;
        color: #dcdcdc;

        .state_flow_sidebar_tab{
            cursor: pointer;
        }

        .state_flow_sidebar_tab.active{
            background-color: #dcdcdc;
            border: 1px solid;
            color: #585858;
            pointer-events: all;
            cursor: not-allowed;
        }
    }
}