.o_main_navbar{
//     display: flex !important;
    grid-template-areas: "apps brand sections studiomenu systray";
    grid-template-columns:
      minmax($o-navbar-height, max-content)
      max-content
      minmax($o-navbar-height, max-content)
      minmax(max-content, 1fr)
      fit-content(100%);

    .web_no_code_studio_exit{
        height: 100%;
        display: table;
        float: right;
        margin: 0;
        grid-area: systray;

        a{
            color: white;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .web_no_code_studio_exit{

        a:hover{
           color: #dcdcdc !important;
        }
    }

    .web_no_code_studio_exit_button{
//         height: 55px;
        padding: 0 10px;
        color: white;
//         line-height: 55px;
    }

    .edit_tab_menu{
        grid-area: studiomenu;
        display: flex;
        padding-top: 10px;
    }

}
.create_app_model, .web_no_code_studio_field_attributes_dialog, .create_menu_model{
    label, input{
        font-size: 1.08333333rem;
    }
    input[type="checkbox"]{
        accent-color: #424242;
    }
}

#model_type{
    font-size: 16px;
}
