$o-brand-primary : #d71f16;

.web_no_code_studio_manager{
    display: flex;
    height: 100%;

    // Side Bar CSS
    .web_no_code_studio_sidebar{
        flex: 0 0 300px;
        overflow: auto;
        background-color: #e9ecef !important;
    }

    .web_no_code_studio_renderer{
        flex: 1 1 auto;
        min-width: 0;
        overflow: auto;
        -webkit-box-flex: 1;
    }
    .web_no_code_studio_top_bar{
        display: flex;

        div{
            text-align: center;
            background-color: #292929;
            color: #cecece;
            flex: 1 0 auto;
            cursor: pointer;

            &.active{
                color: #292929;
                background-color: #cecece;
            }
        }

    }
    .side_bar_main_data{
        padding-left: 10px;
        padding-right: 10px;

        .web_no_code_studio_new_field, .web_no_code_studio_existing_field, .web_no_code_studio_new_element{
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;

            .web_no_code_studio_draggable{
                cursor: move;
                display: inline-block;
                white-space: nowrap;
                height: 30px;
                line-height: 30px;
                background-color: #f9f9f9;
                color: #2d2c2c;
                overflow: hidden;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                width: 49%;
                position: relative;
                max-width: 130px;
//                 border-radius: 3px;
                border: 1px solid #dee2e6;
                font-size: 12px;
                font-weight: bold;
                padding: 0 2px;

                .view_edit_img{
                    border-right: 1px solid #dee2e6;
                    display: inline-block;
                }
            }
            .web_no_code_studio_draggable:hover{
                border-color: map-get($theme-colors, 'primary');
//                 background-color: map-get($theme-colors, 'primary');
//                 color: #fff;
            }
//             .web_no_code_studio_draggable:hover .view_edit_img{
//                 background-color: #f9f9f9;
//             }
        }
    }
}

@keyframes blink {
   50% { border-color:blink transparent; }
}

// List Editor SCSS

.web_no_code_studio_list_editor.o_legacy_list_view{
    .o_list_table.table{
        border-collapse: separate;

        th, td {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            &.web_no_code_studio_hook {
                border-left: 2px solid transparent;
                overflow: unset;
            }
        }

        .web_no_code_studio_invisible{
            background-image: url('/openeducat_web_no_code_studio/static/src/img/patternbg.png');
            background-color: #f4f4f4;
            opacity: 1;
            outline: 1px solid #f2f2f2;
            background-attachment: fixed;
        }

        .web_no_code_studio_hook {
            &.web_no_code_studio_nearest_hook {
                cursor: pointer !important;
                border-left: 2px solid $o-brand-primary;
                > i {
                    visibility: visible;
                }
            }
        }
    }
}

// Todo: Form Editor Scss

.web_no_code_studio_manager .web_no_code_studio_renderer .o_legacy_form_view {
    $-editor-form-edition-gap: 10px;

    &:not(.o_form_nosheet) {
        padding: 0;
    }
    .o_form_sheet_bg {
        display: flex;
        flex-flow: column nowrap;
        padding: 16px;
    }
    .o_form_sheet, .o_ChatterContainer {
        max-width: 100%;
    }
    .o_form_sheet > .o_group {
        margin-left: -$-editor-form-edition-gap;
        margin-right: -$-editor-form-edition-gap;
    }
    .o_ChatterContainer {
        position: relative;
        .web_no_code_studio_overlay {
            @include o-position-absolute(0, 0, 0, 0);
            transition: all 0.2s ease 0s;
            &:hover {
                background-color: rgba(white, 0.4);
            }
        }
    }
    .web_no_code_studio_statusbar_hook {
        text-align: center;
        color: $o-brand-primary;
        background-color: lightgray;
        font-weight: bold;
        cursor: pointer;
        height: 42px;
        line-height: 42px;
        opacity: 0.5;
        transition: opacity 0.3s ease 0s;

        &:hover {
            opacity: 1;
        }
    }
    .o_statusbar_status {
        > .o_arrow_button {
            &:hover, &:active, &:focus {
                color: gray('700');
                background-color: white;
            }
        }
    }

    &.web_no_code_studio_form_editor {
        .o_form_sheet{
            width: 100%;
        }

    .web_no_code_studio_invisible{
            background-image: url('/openeducat_web_no_code_studio/static/src/img/patternbg.png');
            background-color: #f4f4f4;
            opacity: 1;
            outline: 1px solid #f2f2f2;
            background-attachment: fixed;
        }


        .web_no_code_studio_hook {
            :first-child {
                line-height: 0px;
            }
            td, th {
                padding: 0;
            }
            > td {
                padding: 0;
            }
            span.web_no_code_studio_hook_separator {
                display: block;
                position: relative;
                border: 0px dashed transparent;
                transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s;
            }
        }
        .o_form_sheet{
            min-width: -webkit-fill-available;
        }


        .web_no_code_studio_hook.web_no_code_studio_nearest_hook {
            cursor: pointer !important;
            outline: none;
            span.web_no_code_studio_hook_separator {
                background-color: rgba($o-brand-primary, 0.02);
                border: 1px dashed rgba($o-brand-primary, 0.5);
                padding: 20px;
                margin: 4px 0;
//                 width: 850px;
            }
        }
        .o_inner_group {
            transition: border-color 0.5s;
            padding: $-editor-form-edition-gap*0.5;
            border-collapse: separate;
            border: $-editor-form-edition-gap*0.5 solid rgba($o-brand-primary, 0.1);

            tr:not(.web_no_code_studio_hovered) td > *:not(.o_horizontal_separator) {
                opacity: 0.5;
            }

            tr:not(.web_no_code_studio_new_line) {
                td {
                    border: $-editor-form-edition-gap*0.5 solid transparent;
                    border-bottom-width: 1px;

                    &.o_td_label {
                        min-width: 140px;
                    }
                }
            }
        }
        // drag&drop
        td.ui-draggable-helper-ready {
            // border doesn't work because of border-collapse
            outline: 2px solid $o-brand-primary;
        }
    }
    .o_field_image img {
        max-width: 100%;
        height: auto;
        &[src="/web/static/src/img/placeholder.png"] {
            padding: 3% 6%;
        }
    }
    .web_no_code_studio_hovered {
        cursor: pointer;
        outline: 1px dashed $o-brand-primary;
        &:not(.o_statusbar_status) {
            outline-offset: -1px;
        }
    }
    .web_no_code_studio_clicked {
        outline: 2px solid $o-brand-primary;
        &.btn {
            outline: 2px solid darken($o-brand-primary, 5%);
        }
        &:not(.o_statusbar_status) {
            outline-offset: -2px;
        }
    }
    .web_no_code_studio_button_hook {
        width: 48px;
        cursor: pointer;
        text-align: center;
        padding: 0;
        border-left: none;
    }

    .oe_button_box:hover .web_no_code_studio_button_hook:before {
        content: "\f0fe";
        font-family: FontAwesome;
        font-size: 16px;
        color: $o-brand-primary;
    }
    .o_notebook li {
        margin-right: 3px;
    }
    .web_no_code_studio_add_chatter {
        position: relative;
        margin: 16px -16px;
        cursor: pointer;
        color: $o-brand-primary;
        background-color: lightgray;
        opacity: 0.5;
        font-weight: bold;
        transition: all ease 0.1s;
        > .web_no_code_studio_ChatterContainer {
            padding: 16px;
            max-width: 90%;
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s ease 0s;
        }
        > span {
            position: relative;
            max-width: 100%;
            display: block;
            transition: width 0.2s ease .1s;
            > span {
                @include o-position-absolute($left:0);
//                 @include size(100%, 52px);
                padding-top: 25px;
                text-align: center;
            }
        }
        &:hover {
            width: auto;
            background-color: rgba(white, 0.9);
            color: transparent;
            opacity: 1;
            transition: all .2s ease .2s;
            > span {
                width: 100%;
            }
            > .web_no_code_studio_ChatterContainer {
                transition: all .8s ease .1s;
                max-width: 100%;
                opacity: 1;
            }
        }
    }
    .web_no_code_studio_avatar {
        color: $o-brand-primary;
        background-color: lightgray;
        font-weight: bold;
        cursor: pointer;
        padding: 38px;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    .web_no_code_studio_avatar {
        color: #00A09D;
        background-color: lightgray;
        font-weight: bold;
        cursor: pointer;
        padding: 38px;
        opacity: 0.5;
    }

}
.web_no_code_studio_search{
        min-width: 700px;
        max-width: 900px;
        position: relative;
        padding: 0 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

.search_sample{
    border-radius: 0.2rem;
//     box-shadow: 0 15px 15px -9px rgb(0 0 0 / 55%);
    background: rgba(255, 255, 255, 0.95);
    padding: 20px 15px;
    height: 125px;
    z-index: -1;
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 0;
    right: 15px;
}
.search_autocomplete{
    position: absolute;
    top: 15px;
    left: auto;
    bottom: auto;
    right: 15px;
    max-width: 320px;
}
.search_autocomplete_table{
    border: 1px solid #EAEAEA;
    border-collapse: separate;
    border-radius: 2px;
}
.search_sub_list{
    margin: 15px 15px 10px 10px;
    border: 1px solid #EAEAEA;
    -webkit-box-flex: 1;
    padding: 10px;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 238px;
}
.web_no_code_studio_hook.web_no_code_studio_nearest_hook {
            cursor: pointer !important;
            outline: none;
//             border-left: 2px solid #71639e;
            span.web_no_code_studio_hook_separator {
                background-color: rgba($o-brand-primary, 0.02);
                border: 1px dashed rgba($o-brand-primary, 0.5);
                padding: 20px;
                margin: 4px 0;
            }
}

.attribute_pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.view_all_component_change {
    i {
        color: #7e7e7e;
    }

    .card_actions_hover {
        cursor: pointer;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.10) !important;
        border-radius: 5px;
    }
}
.button_box_icon_selector{
    max-height: 200px;
    overflow: auto;
    margin: 10px 0px;

    .icon_selection{
        display: inline-block;
        padding: 2px;

        &.selected{
            border: 1px solid $o-brand-primary;
        }
    }
}
