<section class="oe_container">
    <div class="oe_row oe_spaced">
        <!--        <div class="oe_span12">-->
        <!--            <h2 class="oe_slogan">OpenEduCat Biometric Attendance</h2>-->
        <!--            &lt;!&ndash;            <h3 class="oe_slogan">Create Notices/Circulars, Publish it</h3>&ndash;&gt;-->
        <!--        </div>-->
        <div class="oe_span6">
            <div class=""><h3>Key Features</h3></div>

            <ul>
                <li>Support both TCP and UDP for large attendance data.</li>
                <li>Support connection with either IP or domain name.</li>
                <li>Authenticate machines with password.</li>
                <li>Multiple machine time zones at multiple locations.</li>
                <li>Multiple machines for multiple locations.</li>
                <li>Multiple Attendance Status support.</li>
                <li>Store fingerprint templates in employee profiles.</li>
                <li>Automatically Clear Attendance Data from the machines periodically,(configuration available).</li>
            </ul>
            <h5>
                Fully TESTED with the following machines.
            </h5>
            <ul>
                <li>ZKTeco K40</li>
                <li>ZKTeco T4C</li>
                <li>Face702</li>
                <li>ZKTeco U580</li>
                <li>ZKTeco G3</li>
                <li>ZKTeco K50</li>
                <li>RONALD JACK iClock260</li>
                <li>ZKTeco K14</li>
                <li>ZKTeco H5L</li>
                <li>Uface 800 (works with face &amp;finger )</li>
                <li>RONALD JACK B3-C</li>
                <li>Uface 800</li>
                <li>Face402/ID</li>
                <li>ZKTeco H5L</li>
                <li>ZKTeco MA300</li>
                <li>ZKteco IN0A-1</li>
                <li>ZKTeco MB20</li>
                <li>ZKTeco U580</li>

            </ul>
        </div>
    </div>
</section>




