/* Copyright 2016, 2019 Openworx.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

$brand-primary: $o-brand-primary;
$brand-secondary: $o-brand-secondary;

$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);

.o_loading {
    background-color: $brand-primary;
}

.o_main_navbar {
    background-color : $brand-primary;
}

.o_main_navbar .o_navbar_apps_menu,.o_main_navbar .o_menu_brand{
    background:$brand-primary !important;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus{
    background-color: $brand-primary-dark !important;
    color: inherit;
}

.o_main_navbar .dropdown-toggle:hover, .o_main_navbar .o_nav_entry:hover {
    background-color: $brand-primary-dark !important;
}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: $brand-primary-dark;
}

.o_main_navbar .show .dropdown-toggle {

    background-color: $brand-primary-dark;

}

// Fix color Add file button
.o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form span {
    color: $gray-dark !important;
}

// Buttons

.btn {
    border-radius: 3px !important;
    font-size: 0.95rem;
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}

.btn-primary{
    color: #fff;
    background-color: $brand-primary !important;
    border-color: $brand-primary;
}

.btn-primary:hover {
    color: $brand-primary;
    background-color: $o-view-background-color;
    border-color: $brand-primary;
}

.btn-primary:focus{
    box-shadow: none;
}

.btn-secondary:hover {
    color: #fff !important;
    border-color: #fff !important;
    background-color: $brand-primary !important;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}

.btn-link {
    color: $brand-secondary;
}

.btn-outline-primary {
    color: $brand-primary;
    border-color: $brand-primary;

    &:hover{
        color: #fff;
        border-color: $brand-primary;
    }
}

.btn-fill-odoo, .btn-odoo {
    background-color: $brand-primary !important;
    border-color: $brand-primary !important;
}

.o_field_statusbar > .o_statusbar_status > .o_arrow_button.o_arrow_button_current.disabled {
    color: $brand-primary !important;
}
.o_field_statusbar > .o_statusbar_status > .o_arrow_button{
    &.o_arrow_button_current.disabled {
        background-color: $o-gray-200;
        color: color-contrast($o-brand-odoo);

        &:after, &:before {
            border-left-color: $o-gray-200;
        }
    }
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    color: $brand-primary;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):hover {
    color: $brand-primary;
}
.o_legacy_form_view .nav-tabs > li.nav-item > a.active, .o_form_view .nav-tabs > li.nav-item > a.active {
    border-bottom: none !important;
    color: $brand-primary !important;
}

.o_control_panel .o_cp_bottom_left > .o_cp_action_menus .o_dropdown_toggler_btn {
    margin: 0;
}

.o_dropdown_toggler_btn, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .btn-icon, .o_graph_button {
    text-transform: none !important;
    color: $gray-dark !important;
    background-color: transparent !important;
    border: none !important;
}

.dropdown-menu {
    border-radius: 0px;
}

oe_highlight {
    color: #ffffff !important;
    background-color: $brand-primary !important;
}

.o_external_button {
    color: $brand-primary !important;
    background: #ffffff;
}

.o_button_icon {
    color: $brand-primary !important;
}

// Badges

.badge {
    border: 1px solid $brand-secondary;
}

// Calendar

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background: none;
    background-color: $brand-primary !important;
    color: #ffffff !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default {
    color: $brand-primary;
}

.datepicker {
    .table-sm {
        > thead {
            color: white;
            background-color: $brand-primary;

            > tr {
                &:first-child {
                    th:hover {
                        color: white;
                        background-color: darken($brand-primary, 10%);
                    }
                }

                &:last-child {
                    color: $o-datepicker-week-color;
                    background-color: $o-datepicker-week-bg-color;
                }
                > th {
                    border-radius: 0;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    &.active, .active {
                        background-color: $o-brand-primary;
                        border-radius: 100px;
                    }

                    &.today:before {
                        border-bottom-color: $o-brand-primary;
                    }
                }
            }
        }
    }
}

.datepicker .table-sm > tbody > tr > td.active, .datepicker .table-sm > tbody > tr > td .active {
    background-color: $brand-primary;
	border-radius: 0;
}

// Filter search label

.o_searchview {
    .o_searchview_facet {

         background-color: #ffffff;

        .o_searchview_facet_label {
            background-color: $brand-primary;
        }
    }
}

a {

    color: $brand-secondary;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

}

a:hover {

    color: $brand-secondary-dark;
    text-decoration: none;

}


.o_control_panel {
    background-color: #ffffff;
}

.o_control_panel .o_cp_buttons button:first-child{
    margin-right: 4px;
}

.breadcrumb {
    background-color: inherit;
}

// Input

input[type="text"], input[type="password"], input[type="number"],
textarea, select, .o_form_view.o_form_editable .o_form_field_many2manytags,
.o_searchview
{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

.o_web_client input:focus, .o_web_client textarea:focus, .o_web_client select:focus {
    outline: none;
    border-bottom: 2px solid $brand-primary;
}

.o_input {
    border: 1px solid #ccc;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: $gray;
}

.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $brand-secondary
    }
}


.input-group-text {
	background-color: transparent;
	color: #fff;
	border: 0px;
}

// Listview

.o_list_view.table {
    border: none;
}
.o_list_view.table thead, .o_list_view.table tfoot, .o_list_view.table td,.o_list_view.table th {
    border: none;
}

.o_list_view.table thead {
    background-color: #e2e2e0;
}

.o_list_view.table thead > tr > th.o_column_sortable:hover {
    background-color: #D6D6D3;
}

.o_list_view.table tbody tr.o_group_header {
    background-color: #dfdfdf;
    background-image: none;
    border-top: 1px solid #e2e2e0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #eef0f0;
}

.o_list_view tfoot {
    background-color: $brand-primary;
    //color: #ffffff;
    cursor: default;
    font-weight: normal;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #dee2e6;
}

.ui-menu-item a:hover,.ui-menu-item a:focus {
    color: #666666 !important;
}
.ui-autocomplete .ui-menu-item.ui-state-focus a{
    color: #666666 !important;
}

.o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value {
    color: $brand-primary !important;
}

.o_form_view .o_horizontal_separator {
    color: #666666;
    font-weight: bold;
}

// Forms

.o_form_view {

     .o_form_sheet_bg {
        background: none !important;
        background-color: $o-brand-background-color !important;
        padding: 0px;
        .o_form_sheet {
            border: 1px solid #d9d7d7;
            box-shadow: 0 5px 20px -15px black;
        }
    }

    .o_form_statusbar {
        //margin: -16px;

        .o_statusbar_status {
            > .o_arrow_button {
                background: #ffffff;
            }
        }
    }
}

// App Dashboard

.o_menu_apps #apps_menu {
    background:url(/dashboard);
    background-color:#f9f9f9 !important;
    background-origin: border-box;
    background-size: cover;
    background-position: center;
    height: calc(100vh);
    max-height: calc(100vh);
    //margin-top: $o-navbar-height ;
    //top: 0 !important;
}

.o_main_navbar > ul.o_menu_systray {
    float: right;
    position: relative;
    z-index: 200;
}

.fa-th-large::before {
    content: "\f00a";
}

.o_menu_apps .full {
    width: 46px;
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 201;
}

.o-app-name {
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.o_menu_apps .dropdown-menu.show .o-app-icon {
	padding: 20px 0 0;
}

.o_menu_apps .dropdown-menu.show .o-app-icon:hover {
	box-shadow: 0 8px 15px -10px black;
    transform: translateY(-1px);
}

.dropdown-item.o_app {
    background: transparent;
}

// Chat window

.o_thread_window .o_thread_window_header {
	background-color: $brand-primary;
}

.o_ChatWindowHeader {
    background-color: $brand-primary;
}
