.o_group_achievement.o_group_resume{
    .o_data_row{
        td.o_resume_timeline_cell:before {
            position: absolute;
            top: 1.5rem;
            left: 0.8rem;
            bottom: auto;
            right: auto;
            width: 1px;
            height: 100%;
            margin-left: 0.3rem;
            background-color: #424242;
            content: "";
       }
       td.o_resume_timeline_cell{
        padding: 0.5rem;
       }
       .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child:not(.o_group) .o_field_x2many.o_field_x2many_list tr > :first-child, .o_form_view .o_notebook > .tab-content > .tab-pane > :first-child.o_invisible_modifier + .o_field_widget .o_field_x2many.o_field_x2many_list tr > :first-child {
            padding-left: 23px;
       }
       td.o_resume_timeline_cell div {
            width: 0.6rem;
            height: 0.6rem;
       }
        .o_data_cell{
            padding-left: 1rem !important;
        }
    }
    .o_field_x2many{
        margin-left: 0 !important;
    }
}