.o_form_view.o_form_editable .o_form_field_image .o_form_image_controls
.o_form_binary_file_web_cam {
    color: inherit;
}
.o_form_view .o_form_field_image .o_form_image_controls > .fa{
    margin:3px;
}
.live_webcam_outer_div, .webcam_result_outer_div {
    padding-left: 20px;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_button_icon:before {
    font-size: 19px;
}

#webcam_result img {
    max-width: 320px;
    max-height: 340px;
    margin-top: 2rem;
}

#live_webcam {
    width: 320px;
    height: 240px;
}

.o_widget_cam_widget{
    display: contents;
}

.o_widget_cam_widget:hover{
    background-color: #f8f9fa;
}