.issue_type_css {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 16px !important;
    padding-right: 3px; 
}

.helpdesk_team_css {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
}

.ticket_ribbon-top-right {
     margin-top: 0px !important; 
}
