.child_image {
    /* height: 100%;
    width: 100%; */
}

.mfi_drop_box {
    width: 6.625em;
    padding: 4px;
    height: 6.625em;
    float: left;
    border-radius: 6px 6px 6px 6px;
    margin: 6px;
    cursor: pointer;
    border: 2px solid #dbe2e8;
    box-shadow: 2px 2px 0 2px rgba(203, 213, 222, 0.20);
    position: relative;
}

.children_img_ans.mfi_answer {
    display: inline-block;
    line-height: 5.83em;
    top: 0.5em;
    left: 0.5em;
    border: 2px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #f0f0f0;
    width: 3.313em;
    height: 3.313em;
    overflow: hidden;
    background-size: cover;
    position: absolute;
    border-radius: 6px 6px 6px 6px;

}

.mfi_answer, .mfi_question :hover {
    border: '2px solid #1a73d9';
    box-shadow: 0 0 10px 0 #406ef3;
    -webkit-box-shadow: 0 0 10px 0 #406ef3;
}

.mfi_question, .mfi_answer :hover {
    border: '2px solid #1a73d9';
    box-shadow: 0 0 10px 0 #406ef3;
    -webkit-box-shadow: 0 0 10px 0 #406ef3;
}

.children_img_que.mfi_question {
    display: inline-block;
    line-height: 5.83em;
    top: 2em;
    left: 2em;
    border: 2px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #f0f0f0;
    width: 3.313em;
    height: 3.313em;
    overflow: hidden;
    background-size: cover;
    position: relative;
    border-radius: 6px 6px 6px 6px;
}

.children_img_ans.mfi_answer img, .children_img_que.mfi_question img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    /* //user-drag: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hovering {
    border: 2px dashed rgb(0, 144, 240);

}

@media only screen and (max-width: 760px) {
    .children_img_ans.mfi_answer img, .children_img_que.mfi_question img{
        top: 0%;
        left: 0%;
    }
}